<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.accp.dao.lhy.EvaluateDao">
	<insert id="saveEvaluate">
		insert
		evaluationservice(serviceappraiseid,serviceid,userid,serviceappraisecontent,serviceappraisedate,serviceappraiselevel)
		values(#{evaluate.serviceappraiseid},#{evaluate.serviceid},#{evaluate.userid},#{evaluate.serviceappraisecontent},#{evaluate.serviceappraisedate},#{evaluate.serviceappraiselevel})
	</insert>
</mapper>