<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.accp.dao.lhy.RefundDao">
	<resultMap type="com.accp.vo.lhy.Refund" id="refundMap">
		<association property="user" column="userid"
			select="com.accp.dao.lhy.UserDao.queryUserById"></association>
		<association property="order" column="orderid"
			select="com.accp.dao.lhy.OrderDao.queryOrderById"></association>
	</resultMap>

	<select id="queryRefundList" resultMap="refundMap">
		select * from refund
		where orderid in(select orderid from orders where serviceid in(select
		serviceid from services where userid=#{userid}))
	</select>
	<select id="queryRefundByOrderId" resultMap="refundMap">
		select * from
		refund
		where orderid=#{orderid}
	</select>

	<insert id="saveRefund">
		insert
		refund(point,orderid,userid,refundimg,applyrefundmoney,applicationtime,refundreason,refundexplain,auditstatus,adminstatus)
		values(#{refund.point},#{refund.orderid},#{refund.userid},#{refund.refundimg},#{refund.applyrefundmoney},#{refund.applicationtime},#{refund.refundreason},#{refund.refundexplain},#{refund.auditstatus},#{refund.adminstatus})
	</insert>

	<update id="updateRefund">
		update refund
		<set>
			<if test="refund.adminstatus!=null">
				adminstatus=#{refund.adminstatus},
			</if>
		</set>
		where orderid=#{refund.orderid}
	</update>
</mapper>