<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.accp.dao.lhy.UserDao">
	<select id="queryUserById" resultType="com.accp.vo.lhy.User">
		select * from user where
		userid=#{userid}
	</select>
	
	<update id="updateUserMoney">
		update user set usermoney=usermoney+#{usermoney} where
		userid=#{userid}
	</update>
</mapper>