<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.accp.dao.zjw.IZjwDao">
	<select id="query" resultType="com.accp.vo.zjw.FatieVo">
		SELECT s.*,b.userName FROM `post` s 
LEFT JOIN `user` b ON s.`userID`=b.`userID` WHERE b.`userID`=#{userID};
	</select>
</mapper>