<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>帮助中心_韩汀社区</title>
		<link rel="stylesheet" href="Public/css/common.css" />
	</head>
	<body>
		<iframe name="topost" id="topost" style="display:none;"></iframe>
	
	
		<!--header-->
		<div class="header" id="botop">
				<div class="h_top">
				<div class="b_box">
					<div class="top_nav">
						<a href="/index.php/">首页</a><span class="ht_line"></span>
						<a href="/index.php/Home/Member/seller.html">商家入驻</a><span class="ht_line"></span>
						<a href="/index.php/Home/About/help.html">帮助中心</a><span class="ht_line"></span>
						<a href="/index.php/Home/About/index.html">关于韩汀</a><span class="ht_line"></span>
						<a href="/index.php/Home/About/contact.html">联系我们</a>
					</div>
					
					<div class="top_right">
						<a href="/index.php/Home/Login/login/continue/aHR0cDovL3lwaHRpbmcuemdseGtqLmNvbS9pbmRleC5waHAvSG9tZS9BYm91dC9oZWxwLmh0bWw.html">登录</a><span class="ht_line"></span><a href="/index.php/Home/Login/register/continue/aHR0cDovL3lwaHRpbmcuemdseGtqLmNvbS9pbmRleC5waHAvSG9tZS9BYm91dC9oZWxwLmh0bWw.html">注册</a>		<!-- 	<span style="font-size:14px;"> &nbsp;&nbsp;| 切换到：<select  id="lang" onchange="changelang();"><option value="" >请选择</option><option value="zh-cn" >简体中文</option> <option value="en-us" >English</option> </select> -->
					</div>
				</div>
			</div>
		    <div class="b_box nav_header community_header">
				<a href="/index.php/" class="logo logo_community">御品韩汀.社区</a>
				<ul class="nav_ul">
					<li><a href="/c/lsm/serviceUrl?htmlUrl=fw-zjyTAB&stid=1"><span class="community_sp csp1"></span><br>自驾游</a></li>
					<li><a href="/c/lsm/serviceUrl?htmlUrl=fw-wzxTAB&stid=2"><span class="community_sp csp2"></span><br>微整形</a></li>
					<li><a href="/c/lsm/serviceUrl?htmlUrl=fw-lxzjTAB&stid=3"><span class="community_sp csp3"></span><br>留学中介</a></li>
					<li><a href="/c/lsm/serviceUrl?htmlUrl=fw-hyfyTAB&stid=4"><span class="community_sp csp4"></span><br>韩语翻译</a></li>
					<li><a href="/c/lsm/serviceUrl?htmlUrl=fw-xxzyTAB&stid=5"><span class="community_sp csp5"></span><br>学习资源</a></li>
					<li><a href="#"><span class="community_sp csp6"></span><br>韩汀物流</a></li>
					<li><a href="#"><span class="community_sp csp7"></span><br>韩汀·论坛 中文</a></li>
				</ul>
			</div>     
		</div>
		<!--header end-->
		
		<div class="bg_c3 pt1">
			<div class="b_box">
		    	<!--left bar-->
		        <div class="article_left">
		        	<div class="sv_path"><a href="/index.php/Home/About/help.html">帮助中心</a><span class="s_sp_v">-</span>交易须知</div>
		            <div class="sv_con">
		        		<h1 class="sv_h1">交易须知</h1>
		                <dl class="sv_dl_list">
							<dt class="cur"><span class="dt_i"></span>韩汀交易须知</dt>
		                    <dd style="display:block;">
		                    	<div style="text-align:justify;">
									<span style="font-size:16px;font-family:;">韩汀网本着公开，公正，公平的原则，致力于为广大留学商家和用户服务。韩汀交易过程中，杜绝欺诈，诱导行为，如有不良信息，希望广大商家和用户积极举报！（</span><span style="color:#E53333;font-size:16px;font-family:;">举报热线</span><span style="font-size:16px;font-family:;">：070-8802-8696）</span> 
								</div>
								<p style="text-align:justify;">
									<br>
								</p>					
		                    </dd>
						</dl>
	            	</div>
	        	</div>
		        <!--left bar end-->
		        <!--right bar-->
		        <div class="article_right">
		        	<h2 class="help_title">帮助中心</h2>
		            <ul class="help_ul">
						<li class="cur"><a href="/index.php/Home/About/help/cid/13.html">交易须知</a></li><li><a href="/index.php/Home/About/help/cid/12.html">服务鉴定</a></li><li><a href="/index.php/Home/About/help/cid/11.html">关于注册</a></li><li><a href="/index.php/Home/About/help/cid/14.html">关于金币</a></li><li><a href="/index.php/Home/About/help/cid/15.html">关于积分</a></li><li><a href="/index.php/Home/About/help/cid/16.html">关于入驻</a></li><li><a href="/index.php/Home/About/help/cid/144.html">关于物流</a></li><li><a href="/index.php/Home/About/help/cid/107.html">关于提现</a></li><li><a href="/index.php/Home/About/help/cid/143.html">关于论坛</a></li><li><a href="/index.php/Home/About/help/cid/146.html">关于退款</a></li><li><a href="/index.php/Home/About/help/cid/145.html">服务流程</a></li><li><a href="/index.php/Home/About/help/cid/88.html">签证指引</a></li><li><a href="/index.php/Home/About/help/cid/60.html">温馨提示</a></li>            </ul>
		        </div>
		        <!--right bar end-->
		        <div class="clear"></div>
	    	</div>
		</div>
	
		<!--footer-->
		<div class="footer community_footer_dl">
			<dl class="footer_dl">
				<dt>
				<div class="footer_ewm_box"><img src="Public/images/footer_ewm.png" alt=""></div>
					<span class="ft_ewm_name">御品韩汀</span>
				</dt>
				<dd>
					<p class="flink"><a href="/index.php/Home/Member/seller.html">商家入驻</a>|<a href="/index.php/Home/About/help.html">帮助中心</a>|<a href="/index.php/Home/About/index/key/jobs.html">人才招聘</a>|<a href="/index.php/Home/About/contact.html">联系我们</a>|<a href="/index.php/Home/About/sitemap.html">网站地图</a>|<a href="/index.php/Home/About/terms.html">使用条款</a></p>
					<p>湘ICP备16017200号-2 | 地址：湖南省株洲市天元区丽景滨江二栋2502号 |网站负责人：夏先生 |   邮编：412000</p>
		
					<p>官方QQ：3119683838 | 微信公众号：御品韩汀 | 官网邮箱：3119683838@qq.com | 官方热线电话：0731-2286-7673</p>
		
					<p>Copyright © 2017 - 2018 yphting.com 版权所有</p>		</dd>
			</dl>
		</div>
		<!--footer end-->
	
		<!--right nav-->
		<ul class="right_nav">
			<li><a href="javascript:void(0);" class="rn_tel">客服电话</a><div class="over_show kf_tel">0731-2286-7673</div></li>
			<li><a href="javascript:void(0);" class="rn_wx">官方微信</a><div class="over_show"><img src="Public/images/r_ewm.jpg" alt="" class="gw_ewm"></div></li>
			<li><a href="tencent://Message/?Uin=3119683838&amp;websiteName=http://yphting.zglxkj.com=&amp;Menu=yes" class="rn_kf">在线客服</a></li>
			<li><a href="#" class="rn_top" style="display: none;">Back top</a></li>
		</ul>
	
	
	
	</body>
	<script type="text/javascript " src="Public/js/jquery-1.8.3.min.js "></script>
	<script type="text/javascript" src="/Public/js/sessionHeader.js"></script>
	<script type="text/javascript" src="/Public/js/headLeftNav.js"></script>
	<script>
		jQuery(".cur").click(function(){
			if(jQuery(this).next().css("display")=="block"){
				jQuery(this).next().slideUp(300);
				jQuery(this).removeClass();
				jQuery(this).css("border-bottom","solid 1px #e6e6e6");
			}else{
				jQuery(this).attr("class","cur");
				jQuery(this).next().slideDown(300);
				jQuery(this).css("border-bottom","none");
			}
		})
		jQuery(".right_nav li a.rn_tel, a.rn_wx").hover(function(){
			jQuery(this).next().show(300);
		},function(){
			jQuery(this).next().hide();
		})
		jQuery(window).scroll(function() {
			if(jQuery(window).scrollTop() >= 500) {
				jQuery(".rn_top").fadeIn(300);
			} else {
				jQuery(".rn_top").fadeOut(300);
			}
		})
		jQuery(".rn_top").click(function() {
			$('body,html').animate({
				scrollTop: 0
			}, 500);
		});
	</script>

</html>