<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>关于我们_韩汀社区</title>
		<link rel="stylesheet" href="Public/css/common.css" />
	</head>

	<body>
		<iframe name="topost" id="topost" style="display:none;"></iframe>

		<div class="header" id="botop">
			<div class="h_top">
				<div class="b_box">
					<div class="top_nav">
						<a href="/index.php/">首页</a><span class="ht_line"></span><a href="/index.php/Home/Member/seller.html">商家入驻</a><span class="ht_line"></span><a href="/index.php/Home/About/help.html">帮助中心</a><span class="ht_line"></span><a href="/index.php/Home/About/index.html">关于韩汀</a><span class="ht_line"></span><a href="/index.php/Home/About/contact.html">联系我们</a>
					</div>

					<div class="top_right">
						<a href="/index.php/Home/Login/login/continue/aHR0cDovL3lwaHRpbmcuemdseGtqLmNvbS9pbmRleC5waHAvSG9tZS9BYm91dC9pbmRleC5odG1s.html">登录</a><span class="ht_line"></span><a href="/index.php/Home/Login/register/continue/aHR0cDovL3lwaHRpbmcuemdseGtqLmNvbS9pbmRleC5waHAvSG9tZS9BYm91dC9pbmRleC5odG1s.html">注册</a>
					</div>
				</div>
			</div>
			<div class="b_box nav_header community_header">
				<a href="/index.php/" class="logo logo_community">御品韩汀.社区</a>
				<ul class="nav_ul">
					<li><a href="/c/lsm/serviceUrl?htmlUrl=fw-zjyTAB&stid=1"><span class="community_sp csp1"></span><br>自驾游</a></li>
					<li><a href="/c/lsm/serviceUrl?htmlUrl=fw-wzxTAB&stid=2"><span class="community_sp csp2"></span><br>微整形</a></li>
					<li><a href="/c/lsm/serviceUrl?htmlUrl=fw-lxzjTAB&stid=3"><span class="community_sp csp3"></span><br>留学中介</a></li>
					<li><a href="/c/lsm/serviceUrl?htmlUrl=fw-hyfyTAB&stid=4"><span class="community_sp csp4"></span><br>韩语翻译</a></li>
					<li><a href="/c/lsm/serviceUrl?htmlUrl=fw-xxzyTAB&stid=5"><span class="community_sp csp5"></span><br>学习资源</a></li>
					<li><a href="#"><span class="community_sp csp6"></span><br>韩汀物流</a></li>
					<li><a href="#"><span class="community_sp csp7"></span><br>韩汀·论坛 中文</a></li>
				</ul>
			</div>
		</div>

		<div class="bg_c3 pt1">
			<div class="b_box">
				<div class="">
					<div class="sv_path">关于我们</div>
					<div class="sv_con">
						<h1 class="sv_h1">关于我们</h1>
						<dl class="sv_dl_list">
							<h1 style="margin-left:0pt;text-indent:0pt;">
								<strong><br></strong> 
							</h1>
							<h1 style="margin-left:0pt;text-indent:0pt;">
								<strong><span style="font-size:18px;">韩汀·社区主要服务范围有</span><span style="color:#E53333;"><strong>海外自驾游向导</strong></span></strong><span style="font-size:12px;font-weight:normal;line-height:1.5;background-color:#FFFFFF;"><span style="color:#E53333;font-size:18px;"><strong>，</strong></span><span style="color:#E53333;font-size:24px;"><strong>微整形咨询向导，DIY留学向导</strong></span></span><span style="font-size:24px;font-weight:normal;line-height:1.5;color:#E53333;background-color:#FFFFFF;"><strong>，语种翻译向导，校园资源共享，中韩物流</strong></span><span style="font-size:18px;font-weight:normal;line-height:1.5;background-color:#FFFFFF;"><strong><span style="color:#333333;">等服务项目，主要以大陆国人和海外同胞为服务对象。大陆大学生及海外留学皆可入驻平台免费开店，用户可快速在平台内找到自己需要的服务群体。海外商家对国内用户以及海外同胞开放服务，双方各持所需，互利互惠，是一款海外华人生活，兼职向导平台。</span></strong></span><span style="font-size:12px;font-weight:normal;line-height:1.5;"><strong> </strong></span> 
							</h1>
							<h3 style="text-align:justify;margin-left:0pt;text-indent:0pt;">
							</h3>
							<h3 style="margin-left:0pt;text-indent:0pt;">
							</h3>
							<h3 style="text-align:justify;">
								<span style="font-size:18px;font-weight:normal;line-height:1.5;"><strong> 韩汀</strong></span><span style="font-size:18px;font-weight:normal;line-height:1.5;"><strong>宗旨</strong></span><span style="font-size:18px;font-weight:normal;line-height:1.5;"><strong>:“崇尚以人为本、客户第一的服务宗旨。热诚为广大客户提供良好的</strong></span><a href="http://baike.baidu.com/view/300225.htm"><span style="color:#333333;font-size:18px;"><strong>售后服务</strong></span></a><span style="font-size:18px;font-weight:normal;line-height:1.5;"><strong>和</strong></span><a href="http://baike.baidu.com/view/620243.htm"><span style="color:#333333;font-size:18px;"><strong>技术支持</strong></span></a><span style="font-size:12px;font-weight:normal;line-height:1.5;"><strong><span style="color:#333333;"><span style="font-size:18px;">, 保障商家的投资得到良好的回报。”</span></span></strong></span> 
							</h3>
							<h3 style="text-align:justify;">
								<span style="font-size:12px;font-weight:normal;line-height:1.5;"><strong><span style="color:#333333;"><br>
							</span></strong></span><strong><span style="color:#333333;"><span style="font-size:18px;"> 企业口号：“韩汀—带给你看得到的未来,说不出的精彩!”。</span></span></strong> 
							</h3>
							<h3 style="text-align:justify;">
								<strong><span style="color:#333333;"><br>
							</span></strong><strong><span style="color:#333333;"><span style="font-size:18px;"> 企业理念：“诚信为本,惠于顾客,奉于社会”</span></span></strong> 
							</h3>
							<h3 style="text-align:justify;">
								<strong><span style="color:#333333;"><br>
							</span></strong><strong><span style="font-size:18px;"> 企业目标：</span></strong><strong><span style="color:#333333;"><span style="font-size:18px;">“</span></span></strong><strong><span style="font-size:18px;">建设海外一流社区平台，与广大合作伙伴与时俱进,互利互惠!”。</span></strong> 
							</h3>
							<h2 style="text-align:justify;">
							</h2>
							<h4>
								<br>
							</h4>
							<p class="18" style="text-align:center;margin-left:0pt;text-indent:0pt;">
								<img src="Uploads/desc/2017-03/20170315070053-28872.jpg" alt="" width="1200" height="579" title="" align="">
							</p>
							<p class="18" style="text-align:center;margin-left:0pt;text-indent:0pt;">
								<img src="Uploads/desc/2017-03/20170321051756-71939.jpg" alt="" width="1200" height="587" title="" align="">
							</p>
							<p class="18" style="text-align:left;margin-left:0pt;text-indent:0pt;">
								<embed width="550" height="400">
							</p>
							<p class="18" style="margin-left:0pt;text-indent:0pt;">
								<br>
							</p>
							<p class="18" style="margin-left:0pt;text-indent:0pt;">
								<br>
								<span style="font-size:18px;"><strong>韩汀社区问题反馈群：（QQ：556352602）</strong></span>
							</p>
							<p class="18" style="margin-left:0pt;text-indent:0pt;">
								<img src="Uploads/desc/2017-06/20170613025911-84941.jpg" alt="" width="340" height="466" title="" align="">
							</p>
							<p class="18" style="margin-left:0pt;text-indent:0pt;">
								<span style="font-size:18px;"><strong>韩汀社区资源分享群：（<strong>QQ：529843510）</strong></strong></span><strong></strong>
							</p>
							<p class="18" style="margin-left:0pt;text-indent:0pt;">
								<img src="Uploads/desc/2017-06/20170613025125-55871.jpg" alt="" width="340" height="466" title="" align="">
							</p>
							<p class="18" style="margin-left:0pt;text-indent:0pt;">
								<br>
							</p>
							<p class="18" style="margin-left:0pt;text-indent:0pt;">
								<br>
							</p>
							<p class="18" style="margin-left:0pt;text-indent:0pt;">
								<br>
							</p>
							<p class="18" style="margin-left:0pt;text-indent:0pt;">
								<br>
							</p>
						</dl>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>

		<div class="footer community_footer_dl">
			<dl class="footer_dl">
				<dt>
					<div class="footer_ewm_box"><img src="Public/images/footer_ewm.png" alt=""></div>
						<span class="ft_ewm_name">御品韩汀</span>
					</dt>
				<dd>
					<p class="flink">
						<a href="/index.php/Home/Member/seller.html">商家入驻</a>|<a href="/index.php/Home/About/help.html">帮助中心</a>|<a href="/index.php/Home/About/index/key/jobs.html">人才招聘</a>|<a href="/index.php/Home/About/contact.html">联系我们</a>|<a href="/index.php/Home/About/sitemap.html">网站地图</a>|<a href="/index.php/Home/About/terms.html">使用条款</a>
					</p>
					<p>湘ICP备16017200号-2 | 地址：湖南省株洲市天元区丽景滨江二栋2502号 |网站负责人：夏先生 | 邮编：412000</p>

					<p>官方QQ：3119683838 | 微信公众号：御品韩汀 | 官网邮箱：3119683838@qq.com | 官方热线电话：0731-2286-7673</p>

					<p>Copyright © 2017 - 2018 yphting.com 版权所有</p>
				</dd>
			</dl>
		</div>
		<ul class="right_nav">
			<li>
				<a href="javascript:void(0);" class="rn_tel">客服电话</a>
				<div class="over_show kf_tel">0731-2286-7673</div>
			</li>
			<li>
				<a href="javascript:void(0);" class="rn_wx">官方微信</a>
				<div class="over_show"><img src="Public/images/r_ewm.jpg" alt="" class="gw_ewm"></div>
			</li>
			<li>
				<a href="tencent://Message/?Uin=3119683838&amp;websiteName=http://yphting.zglxkj.com=&amp;Menu=yes" class="rn_kf">在线客服</a>
			</li>
			<li>
				<a href="#" class="rn_top" style="display: none;">Back top</a>
			</li>
		</ul>
	</body>

	<script type="text/javascript " src="Public/js/jquery-1.8.3.min.js "></script>
	<script type="text/javascript" src="/Public/js/sessionHeader.js"></script>
	<script type="text/javascript" src="/Public/js/headLeftNav.js"></script>
	<script>
		jQuery(".right_nav li a.rn_tel, a.rn_wx").hover(function(){
			jQuery(this).next().show(300);
		},function(){
			jQuery(this).next().hide();
		})
		jQuery(window).scroll(function() {
			if(jQuery(window).scrollTop() >= 500) {
				jQuery(".rn_top").fadeIn(300);
			} else {
				jQuery(".rn_top").fadeOut(300);
			}
		})
		jQuery(".rn_top").click(function() {
			$('body,html').animate({
				scrollTop: 0
			}, 500);
		});
	</script>

</html>