<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>联系我们_韩汀社区</title>
		<link rel="stylesheet" href="Public/css/common.css" />
		<style>
			.login_ul li {
				overflow: visible;
			}

			input[type=hidden] {
			    display: none;
			}
		</style>
	</head>
	<body>
		<div class="header" id="botop">
				<div class="h_top">
					<div class="b_box">
						<div class="top_nav">
							<a href="/index.php/">首页</a><span class="ht_line"></span><a href="/index.php/Home/Member/seller.html">商家入驻</a><span class="ht_line"></span><a href="/index.php/Home/About/help.html">帮助中心</a><span class="ht_line"></span><a href="/index.php/Home/About/index.html">关于韩汀</a><span class="ht_line"></span><a href="/index.php/Home/About/contact.html">联系我们</a>
						</div>

						<div class="top_right">
							<a href="/index.php/Home/Login/login/continue/aHR0cDovL3lwaHRpbmcuemdseGtqLmNvbS9pbmRleC5waHAvSG9tZS9BYm91dC9jb250YWN0Lmh0bWw.html">登录</a><span class="ht_line"></span><a href="/index.php/Home/Login/register/continue/aHR0cDovL3lwaHRpbmcuemdseGtqLmNvbS9pbmRleC5waHAvSG9tZS9BYm91dC9jb250YWN0Lmh0bWw.html">注册</a>
						</div>
					</div>
				</div>
				<div class="b_box nav_header community_header">
					<a href="/" class="logo logo_community">御品韩汀.社区</a>
					<div class="logo_right_text">联系我们</div>
				</div>
			</div>
		<div class="bg_c4 pt1">
			<div class="b_box">
				<dl class="login_dl contact_us_dl">
					<dt>
						<h1 class="login_title t_l">联系我们</h1>
						<ul class="contact_ul_left">
							<li><span class="contact_left_t">公司名称</span><div class="contact_right_t">韩汀社区</div></li>
							<li><span class="contact_left_t">微信公众号</span><div class="contact_right_t">御品韩汀</div></li>
							<li><span class="contact_left_t">公司QQ</span><div class="contact_right_t">3119683838</div></li>
							<li><span class="contact_left_t">公司邮箱</span><div class="contact_right_t">3119683838@yphting.com</div></li>
							<li><span class="contact_left_t">官网</span><div class="contact_right_t">http://yphting.zglxkj.com</div></li>
							<li><span class="contact_left_t">地址</span><div class="contact_right_t">경기도 수원시 영통구 영통동 1021-4 청명타운텔 609호</div></li>
						</ul>
					</dt>
					<dd>
						<h1 class="login_title">如果您有任何问题或意见，请填写以下表单留言给我们</h1>
						<form method="post" id="formlogin" target="topost">
							<ul class="login_ul">
								<li><input type="text" name="name" placeholder="您的姓名" class="input_c validate[required]"></li>
								<li><input type="tel" name="tel" placeholder="您的电话" class="input_c validate[required,custom[phone]]"></li>
								<li><input type="email" name="email" placeholder="邮箱" class="input_c validate[required,custom[email]]"></li>
								<li><textarea name="content" placeholder="内容" class="input_c textarea_ly validate[required]"></textarea></li>
								<li><input type="text" name="code" placeholder="验证码" class="input_c validate[required]">
																<img src="http://yphting.zglxkj.com/index.php/Home/Index/verify.html?0.8692067731052706?0.606222567541304" height="33" alt="看不清，点击切换" id="chkimg" class="yzm_img ">
								</li>

								<li><a href="javascript:void(0); " onclick="$( '#formlogin').submit() " class="login_abtn ">提交留言</a></li>
							</ul>
							<input type="hidden" name="__hash__" value="f4dee00f6424226b495c2aa4cd1053c7_ff60a1fe2ddcd1a39d69944deb3bff33 ">
						</form>
					</dd>
				</dl>
			</div>
		</div>
		<div class="footer community_footer_dl ">
			<dl class="footer_dl ">
				<dt>
				<div class="footer_ewm_box "><img src="Public/images/footer_ewm.png " alt=" "></div>
					<span class="ft_ewm_name ">御品韩汀</span>
				</dt>
				<dd>
					<p class="flink "><a href="/index.php/Home/Member/seller.html ">商家入驻</a>|<a href="/index.php/Home/About/help.html ">帮助中心</a>|<a href="/index.php/Home/About/index/key/jobs.html ">人才招聘</a>|<a href="/index.php/Home/About/contact.html ">联系我们</a>|<a href="/index.php/Home/About/sitemap.html ">网站地图</a>|<a href="/index.php/Home/About/terms.html ">使用条款</a></p>
					<p>湘ICP备16017200号-2 | 地址：湖南省株洲市天元区丽景滨江二栋2502号 |网站负责人：夏先生 |   邮编：412000</p>
		
					<p>官方QQ：3119683838 | 微信公众号：御品韩汀 | 官网邮箱：3119683838@qq.com | 官方热线电话：0731-2286-7673</p>
		
					<p>Copyright © 2017 - 2018 yphting.com 版权所有</p>		
				</dd>
			</dl>
		</div>
		<ul class="right_nav ">
			<li><a href="javascript:void(0); " class="rn_tel ">客服电话</a><div class="over_show kf_tel ">0731-2286-7673</div></li>
			<li><a href="javascript:void(0); " class="rn_wx ">官方微信</a><div class="over_show "><img src="Public/images/r_ewm.jpg " alt=" " class="gw_ewm "></div></li>
			<li><a href="tencent://Message/?Uin=3119683838&amp;websiteName=http://yphting.zglxkj.com=&amp;Menu=yes " class="rn_kf ">在线客服</a></li>
			<li><a href="# " class="rn_top " style="display: none;">Back top</a></li>
		</ul>
	</body>
	<script type="text/javascript " src="Public/js/jquery-1.8.3.min.js "></script>
	<script type="text/javascript" src="/Public/js/sessionHeader.js"></script>
	<script type="text/javascript" src="/Public/js/headLeftNav.js"></script>
	<script>
		jQuery(".right_nav li a.rn_tel, a.rn_wx").hover(function(){
			jQuery(this).next().show(300);
		},function(){
			jQuery(this).next().hide();
		})
		jQuery(window).scroll(function(){
			if(jQuery(window).scrollTop()>=500){
				jQuery(".rn_top").fadeIn(300);
			}else{
				jQuery(".rn_top").fadeOut(300);
			}
		})
		jQuery(".rn_top").click(function(){
			$('body,html').animate({scrollTop:0},500);
		});
	</script>
</html>