<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>登陆_韩汀社区</title>
		<link rel="stylesheet" href="Public/css/common.css" />
		<script type="text/javascript" src="Public/js/jquery-1.8.3.min.js"></script>
	</head>

	<body>
		<!--header-->
		<div class="header" id="botop">
			<div class="h_top">
				<div class="b_box">
					<div class="top_nav">
						<a href="">首页</a><span class="ht_line"></span>
						<a href="">商家入驻</a><span class="ht_line"></span>
						<a href="">帮助中心</a><span class="ht_line"></span>
						<a href="">关于韩汀</a><span class="ht_line"></span>
						<a href="">联系我们</a>
					</div>
					<div class="top_right">
					</div>
				</div>
			</div>
			<div class="b_box nav_header community_header">
				<a href="" class="logo logo_community">御品韩汀.社区</a>
				<ul class="nav_ul">
					<li>
						<a href="/c/lsm/serviceUrl?htmlUrl=fw-zjyTAB&stid=1"><span class="community_sp csp1"></span><br>自驾游</a>
					</li>
					<li>
						<a href="/c/lsm/serviceUrl?htmlUrl=fw-zjyTAB&stid=2"><span class="community_sp csp2"></span><br>微整形</a>
					</li>
					<li>
						<a href="/c/lsm/serviceUrl?htmlUrl=fw-zjyTAB&stid=3"><span class="community_sp csp3"></span><br>留学中介</a>
					</li>
					<li>
						<a href="/c/lsm/serviceUrl?htmlUrl=fw-zjyTAB&stid=4"><span class="community_sp csp4"></span><br>韩语翻译</a>
					</li>
					<li>
						<a href="/c/lsm/serviceUrl?htmlUrl=fw-zjyTAB&stid=5"><span class="community_sp csp5"></span><br>学习资源</a>
					</li>
					<li>
						<a href=""><span class="community_sp csp6"></span><br>韩汀物流</a>
					</li>
					<li>
						<a href="/index.php/Home/Bbs/index.html"><span class="community_sp csp7"></span><br>韩汀·论坛 中文</a>
					</li>
				</ul>
			</div>
		</div>
		<!--header end-->

		<!--banner-->
		<div id="index_banner" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
			<div class="owl-wrapper-outer">
				<div class="owl-wrapper" style="width: 7200px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);">
					<div class="owl-item" style="width: 1200px;">
						<div class="item">
							<a href=""><img src="/Uploads/adv/2018-04/20180429084506-87558.jpg" alt="首页幻灯片" class="w100"></a>
						</div>
					</div>
					<div class="owl-item" style="width: 1200px;">
						<div class="item">
							<a href=""><img src="/Uploads/adv/2018-05/20180508035033-30965.jpg" alt="首页幻灯片" class="w100"></a>
						</div>
					</div>
					<div class="owl-item" style="width: 1200px;">
						<div class="item">
							<a href="http://yphting.zglxkj.com/index.php/"><img src="/Uploads/adv/2018-05/20180508033447-26216.jpg" alt="首页幻灯片2" class="w100"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="owl-controls clickable">
				<div class="owl-pagination">
					<div class="owl-page active"><span class=""></span></div>
					<div class="owl-page"><span class=""></span></div>
					<div class="owl-page"><span class=""></span></div>
				</div>
				<div class="owl-buttons">
					<div class="owl-prev">prev</div>
					<div class="owl-next">next</div>
				</div>
			</div>
		</div>
		<!--banner end-->

		<div class="b_box">
			<h2 class="index_h2_title">社区服务 开启您韩国生活的第一步 中文</h2>
			<div class="community_service_box">
				<ul class="community_service_ul">
					<li>
						<a href="http://yphting.zglxkj.com/index.php/Home/Service/driving.html">
							<img src="/Uploads/adv/2017-10/20171011102015-43018.jpg" alt="自驾游">
							<div class="sv_over_show">
								<h3 class="sv_h3">自驾游</h3>
								<p class="sv_text">1660名导游提供服务</p>
							</div>
						</a>
					</li>
					<li>
						<a href="http://yphting.zglxkj.com/index.php/Home/Service/agents.html">
							<img src="Public/images/sv_img_2.jpg" alt="留学中介">
							<div class="sv_over_show">
								<h3 class="sv_h3">留学中介</h3>
								<p class="sv_text">300家中介提供留学咨询</p>
							</div>
						</a>
					</li>
					<li>
						<a href="http://yphting.zglxkj.com/index.php/Home/Service/translate.html">
							<img src="/Uploads/adv/2017-01/20170120042222-44766.jpg" alt="韩语翻译">
							<div class="sv_over_show">
								<h3 class="sv_h3">韩语翻译</h3>
								<p class="sv_text">160名翻译提供服务</p>
							</div>
						</a>
					</li>
					<li>
						<a href="http://yphting.zglxkj.com/index.php/Home/Service/learning.html">
							<img src="/Uploads/adv/2017-01/20170120042501-79576.jpg" alt="学习资源">
							<div class="sv_over_show">
								<h3 class="sv_h3">学习资源</h3>
								<p class="sv_text">1500项学习资料</p>
							</div>
						</a>
					</li>
					<li>
						<a href="http://yphting.zglxkj.com/index.php/Home/Service/plastic.html">
							<img src="/Uploads/adv/2017-01/20170120042559-24082.jpg" alt="微整形">
							<div class="sv_over_show">
								<h3 class="sv_h3">微整形</h3>
								<p class="sv_text">570所韩国微整形所</p>
							</div>
						</a>
					</li>
					<li>
						<a href="http://yphting.zglxkj.com/index.php/Home/Service/logistics.html">
							<img src="/Uploads/adv/2017-01/20170120042649-62037.jpg" alt="韩汀物流">
							<div class="sv_over_show">
								<h3 class="sv_h3">韩汀物流</h3>
								<p class="sv_text">国际通关，货品代发，上门取货，品质保障</p>
							</div>
						</a>
					</li>
				</ul>
			</div>

			<h2 class="index_h2_title">星级服务商家推荐</h2>
			<div class="star_recommend_tab">
				<a href="javascript:void(0);" class="cur">自驾游</a>
				<a href="javascript:void(0);">微整形</a>
				<a href="javascript:void(0);">留学中介</a>
				<a href="javascript:void(0);">韩语翻译</a>
				<a href="javascript:void(0);">学习资源</a>
			</div>
			<div class="star_recommend_show" style="display:block;">
				<div id="star_recommend_part_0" class="owl-carousel star_recommend_part owl-theme" style="opacity: 1; display: block;">
					<div class="owl-wrapper-outer">
						<div class="owl-wrapper" style="width: 7200px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);">
							<div class="owl-item" style="width: 400px;">
								<div class="item">
									<a href="/index.php/Home/Homepage/index/u/%E2%96%A0%CB%89%E8%8B%8F%E3%80%83%E7%AD%B1%E8%90%8C%E2%97%87%E2%97%86.html">
										<!--<div class="star_img"><img src="http://www.yphting.com/Uploads/image/2017-05/20170516064919-97985.jpg" alt="■ˉ苏〃筱萌◇◆" /></div>-->
										<div class="star_img"><img src="/Uploads/image/2018-01/20180109051754-18231.jpg" alt="■ˉ苏〃筱萌◇◆"></div>
										<dl class="star_user_dl">
											<dt><img src="/Uploads/image/2017-04/20170430042114-13691.jpg" alt="■ˉ苏〃筱萌◇◆" class="star_user_photo">
					                    </dt>
											<dd>
												<div class="star_user_name_s">
													<h3 class="star_user_name">■ˉ苏〃筱萌◇◆ </h3>
													<div class="star_pl"><span class="star_pl_sp" style="width:60%;"></span></div>
												</div>
												<p class="star_user_text">For man is man and master of his fate.</p>
											</dd>
										</dl>
									</a>
								</div>
							</div>
							<div class="owl-item" style="width: 400px;">
								<div class="item">
									<a href="/index.php/Home/Homepage/index/u/%E4%BB%B0%E6%9C%9B%E5%B9%B8%E7%A6%8F_0919.html">
										<div class="star_img"><img src="/Uploads/image/2017-05/20170521090130-56365.jpg" alt="仰望幸福_0919"></div>
										<dl class="star_user_dl">
											<dt><img src="/Uploads/image/2017-05/20170520082428-53171.jpg" alt="仰望幸福_0919" class="star_user_photo">
					                    </dt>
											<dd>
												<div class="star_user_name_s">
													<h3 class="star_user_name">仰望幸福(｡◕ˇ∀ˇ◕）的小铺</h3>
													<div class="star_pl"><span class="star_pl_sp" style="width:60%;"></span></div>
												</div>
												<p class="star_user_text">珍惜相处起来舒服的人，并且知足！</p>
											</dd>
										</dl>
									</a>
								</div>
							</div>
							<div class="owl-item" style="width: 400px;">
								<div class="item">
									<a href="/index.php/Home/Homepage/index/u/%E6%9C%AC%E5%88%86%E3%80%80%E3%82%89.html">
										<div class="star_img"><img src="/Uploads/image/2017-04/20170423010810-49922.jpg" alt="本分　ら"></div>
										<dl class="star_user_dl">
											<dt><img src="/Uploads/image/2018-01/20180113054305-32377.jpg" alt="本分　ら" class="star_user_photo">
					                    </dt>
											<dd>
												<div class="star_user_name_s">
													<h3 class="star_user_name">本分ら </h3>
													<div class="star_pl"><span class="star_pl_sp" style="width:60%;"></span></div>
												</div>
												<p class="star_user_text">真正的快乐是内在的，它只有在人类的心灵里才能发现。——布雷默</p>
											</dd>
										</dl>
									</a>
								</div>
							</div>
							<div class="owl-item" style="width: 400px;">
								<div class="item">
									<a href="/index.php/Home/Homepage/index/u/%E3%82%9D%E6%B5%85%E9%BB%98%E6%B7%A1%E6%AE%87%E3%83%BD.html">
										<div class="star_img"><img src="/Uploads/image/2018-01/20180112035819-37014.jpg" alt="ゝ浅默淡殇ヽ"></div>
										<dl class="star_user_dl">
											<dt><img src="http://q.qlogo.cn/qqapp/101390132/DBBEA7D243C7DB584A7F33EF7069E3B5/100" alt="ゝ浅默淡殇ヽ" class="star_user_photo">
					<img src="Public/images/hg_i.png" alt="" class="hg_i_1">                    </dt>
											<dd>
												<div class="star_user_name_s">
													<h3 class="star_user_name">ゝ浅默淡殇ヽde店铺</h3>
													<div class="star_pl"><span class="star_pl_sp" style="width:60%;"></span></div>
												</div>
												<p class="star_user_text">眼前解决不了的问题，可以交付于未来；时间是伟大的作者，他必将</p>
											</dd>
										</dl>
									</a>
								</div>
							</div>
							<div class="owl-item" style="width: 400px;">
								<div class="item">
									<a href="/index.php/Home/Homepage/index/u/%E9%98%BF%E6%96%AF%E8%BE%BE.html">
										<div class="star_img"><img src="/Uploads/image/2018-03/20180312095205-53956.jpg" alt="阿斯达"></div>
										<dl class="star_user_dl">
											<dt><img src="/Uploads/image/2018-04/20180408023658-14399.jpg" alt="阿斯达" class="star_user_photo">
					                    </dt>
											<dd>
												<div class="star_user_name_s">
													<h3 class="star_user_name">测试</h3>
													<div class="star_pl"><span class="star_pl_sp" style="width:60%;"></span></div>
												</div>
												<p class="star_user_text">爱爱爱</p>
											</dd>
										</dl>
									</a>
								</div>
							</div>
							<div class="owl-item" style="width: 400px;">
								<div class="item">
									<a href="/index.php/Home/Homepage/index/u/%E9%98%BF%E6%96%AF%E8%BE%BE.html">
										<div class="star_img"><img src="/Uploads/image/2018-03/20180312052121-70228.jpg" alt="阿斯达"></div>
										<dl class="star_user_dl">
											<dt><img src="/Uploads/image/2018-04/20180408023658-14399.jpg" alt="阿斯达" class="star_user_photo">
					                    </dt>
											<dd>
												<div class="star_user_name_s">
													<h3 class="star_user_name">测试</h3>
													<div class="star_pl"><span class="star_pl_sp" style="width:60%;"></span></div>
												</div>
												<p class="star_user_text">爱爱爱</p>
											</dd>
										</dl>
									</a>
								</div>
							</div>
							<div class="owl-item" style="width: 400px;">
								<div class="item">
									<a href="/index.php/Home/Homepage/index/u/%E6%88%91%E6%83%B3%E9%9D%99%E9%9D%99.html">
										<div class="star_img"><img src="/Uploads/image/gif/2018-05/20180505092845-93271.gif" alt="我想静静"></div>
										<dl class="star_user_dl">
											<dt><img src="/Uploads/image/2018-05/20180505041059-65847.gif" alt="我想静静" class="star_user_photo">
					                    </dt>
											<dd>
												<div class="star_user_name_s">
													<h3 class="star_user_name">我想静静</h3>
													<div class="star_pl"><span class="star_pl_sp" style="width:60%;"></span></div>
												</div>
												<p class="star_user_text">走自己的路让别人去说吧</p>
											</dd>
										</dl>
									</a>
								</div>
							</div>
							<div class="owl-item" style="width: 400px;">
								<div class="item">
									<a href="/index.php/Home/Homepage/index/u/%E6%B5%8A%E9%85%92%E5%80%BE%E8%A7%9E.html">
										<div class="star_img"><img src="/Uploads/image/2018-05/20180505061125-82309.jpg" alt="浊酒倾觞"></div>
										<dl class="star_user_dl">
											<dt><img src="/Uploads/image/2018-05/20180506110841-67573.jpg" alt="浊酒倾觞" class="star_user_photo">
					                    </dt>
											<dd>
												<div class="star_user_name_s">
													<h3 class="star_user_name">浊酒倾觞de店铺</h3>
													<div class="star_pl"><span class="star_pl_sp" style="width:60%;"></span></div>
												</div>
												<p class="star_user_text">走自己的路</p>
											</dd>
										</dl>
									</a>
								</div>
							</div>
							<div class="owl-item" style="width: 400px;">
								<div class="item">
									<a href="/index.php/Home/Homepage/index/u/%E6%9C%AC%E5%88%86%E3%80%80%E3%82%89.html">
										<div class="star_img"><img src="/Uploads/image/2017-04/20170423120058-79191.jpg" alt="本分　ら"></div>
										<dl class="star_user_dl">
											<dt><img src="/Uploads/image/2018-01/20180113054305-32377.jpg" alt="本分　ら" class="star_user_photo">
					                    </dt>
											<dd>
												<div class="star_user_name_s">
													<h3 class="star_user_name">本分ら </h3>
													<div class="star_pl"><span class="star_pl_sp" style="width:60%;"></span></div>
												</div>
												<p class="star_user_text">真正的快乐是内在的，它只有在人类的心灵里才能发现。——布雷默</p>
											</dd>
										</dl>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="owl-controls clickable">
						<div class="owl-pagination">
							<div class="owl-page active"><span class=""></span></div>
							<div class="owl-page"><span class=""></span></div>
							<div class="owl-page"><span class=""></span></div>
						</div>
					</div>
				</div>

				<a href="/index.php/Home/Service/lists/cid/3.html" class="btn_a_more">查看更多<span class="sp_i_1"></span></a>
			</div>
			<div class="star_recommend_show" style="display:none;">
				<div id="star_recommend_part_0" class="owl-carousel star_recommend_part owl-theme" style="opacity: 0; display: block;">
					<div class="owl-wrapper-outer">
						<div class="owl-wrapper" style="width: 132px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);">
							<div class="owl-item" style="width: 33px;">
								<div class="item">
									<a href="/index.php/Home/Homepage/index/u/%E6%9A%96%E6%9A%96%E5%93%92.html">
										<!--<div class="star_img"><img src="" alt="暖暖哒" /></div>-->
										<div class="star_img"><img src="/Uploads/image/2017-12/20171220034527-66092.jpeg" alt="暖暖哒"></div>
										<dl class="star_user_dl">
											<dt><img src="/Uploads/image/2018-01/20180113013907-60472.jpg" alt="暖暖哒" class="star_user_photo">
					                    </dt>
											<dd>
												<div class="star_user_name_s">
													<h3 class="star_user_name">暖暖哒</h3>
													<div class="star_pl"><span class="star_pl_sp" style="width:60%;"></span></div>
												</div>
												<p class="star_user_text"></p>
											</dd>
										</dl>
									</a>
								</div>
							</div>
							<div class="owl-item" style="width: 33px;">
								<div class="item">
									<a href="/index.php/Home/Homepage/index/u/%E6%9A%96%E6%9A%96%E5%93%92.html">
										<!--<div class="star_img"><img src="" alt="暖暖哒" /></div>-->
										<div class="star_img"><img src="/Uploads/image/2017-12/20171220034427-19586.jpeg" alt="暖暖哒"></div>
										<dl class="star_user_dl">
											<dt><img src="/Uploads/image/2018-01/20180113013907-60472.jpg" alt="暖暖哒" class="star_user_photo">
					                    </dt>
											<dd>
												<div class="star_user_name_s">
													<h3 class="star_user_name">暖暖哒</h3>
													<div class="star_pl"><span class="star_pl_sp" style="width:60%;"></span></div>
												</div>
												<p class="star_user_text"></p>
											</dd>
										</dl>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="owl-controls clickable" style="display: none;">
						<div class="owl-pagination">
							<div class="owl-page"><span class=""></span></div>
						</div>
					</div>
				</div>

				<a href="/index.php/Home/Service/lists/cid/4.html" class="btn_a_more">查看更多<span class="sp_i_1"></span></a>
			</div>
			<div class="star_recommend_show" style="display:none;">
				<div id="star_recommend_part_0" class="owl-carousel star_recommend_part owl-theme" style="opacity: 0; display: block;">
					<div class="owl-wrapper-outer">
						<div class="owl-wrapper" style="width: 132px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);">
							<div class="owl-item" style="width: 33px;">
								<div class="item">
									<a href="/index.php/Home/Homepage/index/u/%EF%B8%B6%EF%BF%A3+%E5%86%B7%E6%B8%A9%E6%9F%94.html">
										<!--<div class="star_img"><img src="http://www.yphtsq.com/Uploads/image/2017-05/20170507015742-34608.jpg" alt="︶￣ 冷温柔" /></div>-->
										<div class="star_img"><img src="/Uploads/image/2018-01/20180109095844-71087.jpg" alt="︶￣ 冷温柔"></div>
										<dl class="star_user_dl">
											<dt><img src="/Uploads/image/2017-05/20170507014713-14876.jpg" alt="︶￣ 冷温柔" class="star_user_photo">
					                    </dt>
											<dd>
												<div class="star_user_name_s">
													<h3 class="star_user_name">︶￣ 冷温柔</h3>
													<div class="star_pl"><span class="star_pl_sp" style="width:60%;"></span></div>
												</div>
												<p class="star_user_text">没有一份工作，一开始就是前途光明的~</p>
											</dd>
										</dl>
									</a>
								</div>
							</div>
							<div class="owl-item" style="width: 33px;">
								<div class="item">
									<a href="/index.php/Home/Homepage/index/u/%E6%88%91%E6%9D%A5%E4%B9%9F.html">
										<!--<div class="star_img"><img src="http://yphting.zglxkj.com/Uploads/image/2018-05/20180510101633-86483.jpg" alt="我来也" /></div>-->
										<div class="star_img"><img src="/Uploads/image/2018-05/20180510104901-71214.jpg" alt="我来也"></div>
										<dl class="star_user_dl">
											<dt><img src="http://thirdqq.qlogo.cn/qqapp/101390132/0E2A860B6CEBBC4F03A6A634FA04B333/100" alt="我来也" class="star_user_photo">
					                    </dt>
											<dd>
												<div class="star_user_name_s">
													<h3 class="star_user_name">海外留学订制</h3>
													<div class="star_pl"><span class="star_pl_sp" style="width:60%;"></span></div>
												</div>
												<p class="star_user_text"></p>
											</dd>
										</dl>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="owl-controls clickable" style="display: none;">
						<div class="owl-pagination">
							<div class="owl-page"><span class=""></span></div>
						</div>
					</div>
				</div>

				<a href="/index.php/Home/Service/lists/cid/5.html" class="btn_a_more">查看更多<span class="sp_i_1"></span></a>
			</div>
			<div class="star_recommend_show" style="display:none;">
				<div id="star_recommend_part_0" class="owl-carousel star_recommend_part owl-theme" style="opacity: 0; display: block;">
					<div class="owl-wrapper-outer">
						<div class="owl-wrapper" style="width: 66px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);">
							<div class="owl-item" style="width: 33px;">
								<div class="item">
									<a href="/index.php/Home/Homepage/index/u/%E9%9D%99%E9%9D%99%E6%83%B3%E6%88%91.html">
										<div class="star_img"><img src="/Uploads/image/jpeg/2018-05/20180509081518-85082.jpeg" alt="静静想我"></div>
										<dl class="star_user_dl">
											<dt><img src="/Uploads/image/2018-05/20180509042634-18323.jpg" alt="静静想我" class="star_user_photo">
					                    </dt>
											<dd>
												<div class="star_user_name_s">
													<h3 class="star_user_name">神之翻译</h3>
													<div class="star_pl"><span class="star_pl_sp" style="width:100%;"></span></div>
												</div>
												<p class="star_user_text"></p>
											</dd>
										</dl>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="owl-controls clickable" style="display: none;">
						<div class="owl-pagination">
							<div class="owl-page"><span class=""></span></div>
						</div>
					</div>
				</div>

				<a href="/index.php/Home/Service/lists/cid/6.html" class="btn_a_more">查看更多<span class="sp_i_1"></span></a>
			</div>
			<div class="star_recommend_show" style="display:none;">
				<div id="star_recommend_part_0" class="owl-carousel star_recommend_part owl-theme" style="opacity: 0; display: block;">
					<div class="owl-wrapper-outer">
						<div class="owl-wrapper" style="width: 66px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);">
							<div class="owl-item" style="width: 33px;">
								<div class="item">
									<a href="/index.php/Home/Homepage/index/u/%E9%9D%99%E9%9D%99%E6%83%B3%E6%88%91.html">
										<div class="star_img"><img src="/Uploads/image/jpeg/2018-05/20180509081120-66221.jpeg" alt="静静想我"></div>
										<dl class="star_user_dl">
											<dt><img src="/Uploads/image/2018-05/20180509042634-18323.jpg" alt="静静想我" class="star_user_photo">
					                    </dt>
											<dd>
												<div class="star_user_name_s">
													<h3 class="star_user_name">神之翻译</h3>
													<div class="star_pl"><span class="star_pl_sp" style="width:100%;"></span></div>
												</div>
												<p class="star_user_text"></p>
											</dd>
										</dl>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="owl-controls clickable" style="display: none;">
						<div class="owl-pagination">
							<div class="owl-page"><span class=""></span></div>
						</div>
					</div>
				</div>

				<a href="/index.php/Home/Service/lists/cid/7.html" class="btn_a_more">查看更多<span class="sp_i_1"></span></a>
			</div>

			<!--ad-->
			<div class="ad_box">
				<div class="fl ad_left">
					<a href=""><img src="Public/images/ad/1.jpg" alt="首页社区上方广告1"> </a>
				</div>
				<a href="">
				</a>
				<div class="fr ad_right">
					<a href="">
					</a>
					<a href=""><img src="Public/images/ad/2.jpg" alt="首页社区上方广告2"> </a>
				</div>
				<a href="">
				</a>
			</div>
			<a href="">
				<!--ad end-->

			</a>
		</div>
		<a href="">

		</a>
		<div class="bg_c1">
			<a href="">
			</a>
			<div class="b_box">
				<a href="">
				</a>
				<h2 class="index_h2_title c_0"><a href=""></a><a href="/index.php/Home/Bbs/hotlist.html">韩汀社区 学习 交流 互助不亦乐乎</a></h2>
				<div class="study_box">
					<div id="study_box" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
						<!--item-->
						<div class="owl-wrapper-outer">
							<div class="owl-wrapper" style="width: 7200px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);">
								<div class="owl-item" style="width: 1200px;">
									<div class="item">
										<div class="study_part">
											<ul class="study_part_ul">
												<li>
													<a href="/index.php/Home/Bbs/lists/cid/109.html" class="study_style">财经类</a>
													<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/565.html">吱吱吱吱吱吱吱吱吱吱吱吱</a></h4>
													<dl class="study_dl">
														<dt><a href="/index.php/Home/Homepage/index/sid/256.html"><img src="http://thirdqq.qlogo.cn/qqapp/101390132/7B23878391313C02EF4607004A1EB131/100" alt="say goodbye" height="50" class="star_user_photo"></a></dt>
														<dd>
															<p class="study_p1">
																<a href="/index.php/Home/Homepage/index/sid/256.html">say goodbye</a> •
																<a href="/index.php/Home/Bbs/lists/cid/109.html">财经类</a> • </p>
															<p class="date_sp">18天前 </p>
														</dd>
													</dl>
												</li>
												<li>
													<a href="/index.php/Home/Bbs/lists/cid/47.html" class="study_style">交朋结友</a>
													<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/563.html">爱你妈</a></h4>
													<dl class="study_dl">
														<dt><a href="/index.php/Home/Homepage/index/sid/298.html"><img src="http://thirdqq.qlogo.cn/qqapp/101390132/E4FD7DF7641EEB7B14F9E27152ACF876/100" alt="尧尧" height="50" class="star_user_photo"></a></dt>
														<dd>
															<p class="study_p1">
																<a href="/index.php/Home/Homepage/index/sid/298.html">尧尧</a> •
																<a href="/index.php/Home/Bbs/lists/cid/47.html">交朋结友</a> • 27天前<span class="bbs_dot">·</span>最后回复
																<a href="/index.php/Home/Homepage/index/sid/249.html" class="lst_nem">。</a>
															</p>
															<p class="date_sp">28天前 </p>
														</dd>
													</dl>
												</li>
												<li class="last">
													<a href="/index.php/Home/Bbs/lists/cid/109.html" class="study_style">财经类</a>
													<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/562.html">11</a></h4>
													<dl class="study_dl">
														<dt><a href="/index.php/Home/Homepage/index/sid/268.html"><img src="http://thirdqq.qlogo.cn/qqapp/101390132/1A74E83FEA4D68101B2FA83D259CB4F4/100" alt="ぺ獨冢誋憶い" height="50" class="star_user_photo"><img src="Public/images/bbs_user_i.png" alt="" class="hg_i_1"></a></dt>
														<dd>
															<p class="study_p1">
																<a href="/index.php/Home/Homepage/index/sid/268.html">ぺ獨冢誋憶い</a> •
																<a href="/index.php/Home/Bbs/lists/cid/109.html">财经类</a> • </p>
															<p class="date_sp">36天前 </p>
														</dd>
													</dl>
												</li>
											</ul>
											<ul class="study_part_ul">
												<li>
													<a href="/index.php/Home/Bbs/lists/cid/147.html" class="study_style">韩国</a>
													<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/561.html">xiong</a></h4>
													<dl class="study_dl">
														<dt><a href="/index.php/Home/Homepage/index/sid/268.html"><img src="http://thirdqq.qlogo.cn/qqapp/101390132/1A74E83FEA4D68101B2FA83D259CB4F4/100" alt="ぺ獨冢誋憶い" height="50" class="star_user_photo"><img src="Public/images/bbs_user_i.png" alt="" class="hg_i_1"></a></dt>
														<dd>
															<p class="study_p1">
																<a href="/index.php/Home/Homepage/index/sid/268.html">ぺ獨冢誋憶い</a> •
																<a href="/index.php/Home/Bbs/lists/cid/147.html">韩国</a> • 13天前<span class="bbs_dot">·</span>最后回复
																<a href="/index.php/Home/Homepage/index/sid/270.html" class="lst_nem">make Bug</a>
															</p>
															<p class="date_sp">36天前 </p>
														</dd>
													</dl>
												</li>
												<li>
													<a href="/index.php/Home/Bbs/lists/cid/151.html" class="study_style">校园求职</a>
													<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/544.html">职业介绍</a></h4>
													<dl class="study_dl">
														<dt><a href="/index.php/Home/Homepage/index/sid/160.html"><img src="/Uploads/image/2018-05/20180505041059-65847.gif" alt="我想静静" height="50" class="star_user_photo"></a></dt>
														<dd>
															<p class="study_p1">
																<a href="/index.php/Home/Homepage/index/sid/160.html">我想静静</a> •
																<a href="/index.php/Home/Bbs/lists/cid/151.html">校园求职</a> • 146天前<span class="bbs_dot">·</span>最后回复
																<a href="/index.php/Home/Homepage/index/sid/160.html" class="lst_nem">我想静静</a>
															</p>
															<p class="date_sp">153天前 </p>
														</dd>
													</dl>
												</li>
												<li class="last">
													<a href="/index.php/Home/Bbs/lists/cid/151.html" class="study_style">校园求职</a>
													<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/543.html">求设计师工作</a></h4>
													<dl class="study_dl">
														<dt><a href="/index.php/Home/Homepage/index/sid/96.html"><img src="http://q.qlogo.cn/qqapp/101390132/B136DB42EFAA32F4F6E0A3ED25F25541/100" alt="기쿠지로의 여름 " height="50" class="star_user_photo"></a></dt>
														<dd>
															<p class="study_p1">
																<a href="/index.php/Home/Homepage/index/sid/96.html">기쿠지로의 여름 </a> •
																<a href="/index.php/Home/Bbs/lists/cid/151.html">校园求职</a> • </p>
															<p class="date_sp">170天前 </p>
														</dd>
													</dl>
												</li>
											</ul>

											<div class="study_right">
												<a href="/index.php/Home/Bbs/lists/cid/9.html" class="study_style">美妆天地</a>
												<ul class="study_video_ul">
													<li class="last">
														<div class="study_video_img">
															<a href="/index.php/Home/Bbs/detail/aid/548.html"><img src="/temp/20180506095758-51083.jpg" alt="韩语入门-第一讲" width="170" height="100"><span class="video_tiem">12分13秒</span></a>
														</div>
														<p class="study_video_text">
															<a href="/index.php/Home/Bbs/detail/aid/548.html">韩语入门-第一讲</a>
														</p>
													</li>
													<li class="last">
														<div class="study_video_img">
															<a href="/index.php/Home/Bbs/detail/aid/546.html"><img src="/temp/20180506091450-60739.jpg" alt="古井" width="170" height="100"><span class="video_tiem">10：10</span></a>
														</div>
														<p class="study_video_text">
															<a href="/index.php/Home/Bbs/detail/aid/546.html">古井</a>
														</p>
													</li>
													<li class="last">
														<div class="study_video_img">
															<a href="/index.php/Home/Bbs/detail/aid/486.html"><img src="Public/images/study_img_1.jpg" alt="1111" width="170" height="100"><span class="video_tiem"></span></a>
														</div>
														<p class="study_video_text">
															<a href="/index.php/Home/Bbs/detail/aid/486.html">1111</a>
														</p>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="owl-item" style="width: 1200px;">
									<div class="item">
										<div class="study_part">
											<ul class="study_part_ul">
												<li>
													<a href="/index.php/Home/Bbs/lists/cid/150.html" class="study_style">校园招聘</a>
													<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/542.html">韩国大使馆招人</a></h4>
													<dl class="study_dl">
														<dt><a href="/index.php/Home/Homepage/index/sid/158.html"><img src="/Uploads/image/2018-05/20180506110841-67573.jpg" alt="浊酒倾觞" height="50" class="star_user_photo"></a></dt>
														<dd>
															<p class="study_p1">
																<a href="/index.php/Home/Homepage/index/sid/158.html">浊酒倾觞</a> •
																<a href="/index.php/Home/Bbs/lists/cid/150.html">校园招聘</a> • </p>
															<p class="date_sp">174天前 </p>
														</dd>
													</dl>
												</li>
												<li>
													<a href="/index.php/Home/Bbs/lists/cid/194.html" class="study_style">大学教程</a>
													<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/541.html">韩国与中国的差别是什么？</a></h4>
													<dl class="study_dl">
														<dt><a href="/index.php/Home/Homepage/index/sid/158.html"><img src="/Uploads/image/2018-05/20180506110841-67573.jpg" alt="浊酒倾觞" height="50" class="star_user_photo"></a></dt>
														<dd>
															<p class="study_p1">
																<a href="/index.php/Home/Homepage/index/sid/158.html">浊酒倾觞</a> •
																<a href="/index.php/Home/Bbs/lists/cid/194.html">大学教程</a> • </p>
															<p class="date_sp">176天前 </p>
														</dd>
													</dl>
												</li>
												<li class="last">
													<a href="/index.php/Home/Bbs/lists/cid/150.html" class="study_style">校园招聘</a>
													<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/539.html">招一名家教！</a></h4>
													<dl class="study_dl">
														<dt><a href="/index.php/Home/Homepage/index/sid/158.html"><img src="/Uploads/image/2018-05/20180506110841-67573.jpg" alt="浊酒倾觞" height="50" class="star_user_photo"></a></dt>
														<dd>
															<p class="study_p1">
																<a href="/index.php/Home/Homepage/index/sid/158.html">浊酒倾觞</a> •
																<a href="/index.php/Home/Bbs/lists/cid/150.html">校园招聘</a> • 140天前<span class="bbs_dot">·</span>最后回复
																<a href="/index.php/Home/Homepage/index/sid/147.html" class="lst_nem">ゝ浅默淡殇ヽ</a>
															</p>
															<p class="date_sp">177天前 </p>
														</dd>
													</dl>
												</li>
											</ul>
											<ul class="study_part_ul">
												<li>
													<a href="/index.php/Home/Bbs/lists/cid/151.html" class="study_style">校园求职</a>
													<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/538.html">工业大学招教师一名</a></h4>
													<dl class="study_dl">
														<dt><a href="/index.php/Home/Homepage/index/sid/158.html"><img src="/Uploads/image/2018-05/20180506110841-67573.jpg" alt="浊酒倾觞" height="50" class="star_user_photo"></a></dt>
														<dd>
															<p class="study_p1">
																<a href="/index.php/Home/Homepage/index/sid/158.html">浊酒倾觞</a> •
																<a href="/index.php/Home/Bbs/lists/cid/151.html">校园求职</a> • </p>
															<p class="date_sp">177天前 </p>
														</dd>
													</dl>
												</li>
												<li>
													<a href="/index.php/Home/Bbs/lists/cid/135.html" class="study_style">韩语求助</a>
													<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/535.html">이건 너무 말도 안되는거 아냐? 这简直太离谱了！</a></h4>
													<dl class="study_dl">
														<dt><a href="/index.php/Home/Homepage/index/sid/158.html"><img src="/Uploads/image/2018-05/20180506110841-67573.jpg" alt="浊酒倾觞" height="50" class="star_user_photo"></a></dt>
														<dd>
															<p class="study_p1">
																<a href="/index.php/Home/Homepage/index/sid/158.html">浊酒倾觞</a> •
																<a href="/index.php/Home/Bbs/lists/cid/135.html">韩语求助</a> • 141天前<span class="bbs_dot">·</span>最后回复
																<a href="/index.php/Home/Homepage/index/sid/147.html" class="lst_nem">ゝ浅默淡殇ヽ</a>
															</p>
															<p class="date_sp">178天前 </p>
														</dd>
													</dl>
												</li>
												<li class="last">
													<a href="/index.php/Home/Bbs/lists/cid/71.html" class="study_style">整形后记</a>
													<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/511.html">测试</a></h4>
													<dl class="study_dl">
														<dt><a href="/index.php/Home/Homepage/index/sid/96.html"><img src="http://q.qlogo.cn/qqapp/101390132/B136DB42EFAA32F4F6E0A3ED25F25541/100" alt="기쿠지로의 여름 " height="50" class="star_user_photo"></a></dt>
														<dd>
															<p class="study_p1">
																<a href="/index.php/Home/Homepage/index/sid/96.html">기쿠지로의 여름 </a> •
																<a href="/index.php/Home/Bbs/lists/cid/71.html">整形后记</a> • 200天前<span class="bbs_dot">·</span>最后回复
																<a href="/index.php/Home/Homepage/index/sid/96.html" class="lst_nem">기쿠지로의 여름 </a>
															</p>
															<p class="date_sp">209天前 </p>
														</dd>
													</dl>
												</li>
											</ul>

											<div class="study_right">
												<a href="/index.php/Home/Bbs/lists/cid/9.html" class="study_style">美妆天地</a>
												<ul class="study_video_ul">
													<li class="last">
														<div class="study_video_img">
															<a href="/index.php/Home/Bbs/detail/aid/394.html"><img src="/Uploads/image/2017-05/20170528110431-16116.jpg" alt="SWEET &amp; ELEGANT PROM MAKEUP" width="170" height="100"><span class="video_tiem">5分08秒</span></a>
														</div>
														<p class="study_video_text">
															<a href="/index.php/Home/Bbs/detail/aid/394.html">SWEET &amp; ELEGANT</a>
														</p>
													</li>
													<li class="last">
														<div class="study_video_img">
															<a href="/index.php/Home/Bbs/detail/aid/390.html"><img src="/Uploads/image/2017-05/20170527014658-18456.jpg" alt="宋慧喬化妝師示範大熱雙色唇妝！" width="170" height="100"><span class="video_tiem">02分22秒</span></a>
														</div>
														<p class="study_video_text">
															<a href="/index.php/Home/Bbs/detail/aid/390.html">宋慧喬化妝師示範大熱雙色唇妝！</a>
														</p>
													</li>
													<li class="last">
														<div class="study_video_img">
															<a href="/index.php/Home/Bbs/detail/aid/389.html"><img src="/Uploads/image/2017-05/20170525063855-44967.jpg" alt="Korean Makeup flower" width="170" height="100"><span class="video_tiem">3分10秒</span></a>
														</div>
														<p class="study_video_text">
															<a href="/index.php/Home/Bbs/detail/aid/389.html">Korean Makeup flower</a>
														</p>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="owl-item" style="width: 1200px;">
									<div class="item">
										<div class="study_part">
											<ul class="study_part_ul">
												<li>
													<a href="/index.php/Home/Bbs/lists/cid/8.html" class="study_style">语种学习</a>
													<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/510.html">测试</a></h4>
													<dl class="study_dl">
														<dt><a href="/index.php/Home/Homepage/index/sid/146.html"><img src="Public/images/s_photo_1.jpg" alt="" height="50" class="star_user_photo"></a></dt>
														<dd>
															<p class="study_p1">
																<a href="/index.php/Home/Homepage/index/sid/146.html"></a> •
																<a href="/index.php/Home/Bbs/lists/cid/8.html">语种学习</a> • </p>
															<p class="date_sp">213天前 </p>
														</dd>
													</dl>
												</li>
												<li>
													<a href="/index.php/Home/Bbs/lists/cid/8.html" class="study_style">语种学习</a>
													<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/509.html">韩语学习的魅力</a></h4>
													<dl class="study_dl">
														<dt><a href="/index.php/Home/Homepage/index/sid/91.html"><img src="/Uploads/image/2017-05/20170515072017-32499.jpg" alt="御品韩汀" height="50" class="star_user_photo"></a></dt>
														<dd>
															<p class="study_p1">
																<a href="/index.php/Home/Homepage/index/sid/91.html">御品韩汀</a> •
																<a href="/index.php/Home/Bbs/lists/cid/8.html">语种学习</a> • </p>
															<p class="date_sp">214天前 </p>
														</dd>
													</dl>
												</li>
												<li class="last">
													<a href="/index.php/Home/Bbs/lists/cid/55.html" class="study_style">留学资讯</a>
													<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/508.html">美国留学不是问题！</a></h4>
													<dl class="study_dl">
														<dt><a href="/index.php/Home/Homepage/index/sid/91.html"><img src="/Uploads/image/2017-05/20170515072017-32499.jpg" alt="御品韩汀" height="50" class="star_user_photo"></a></dt>
														<dd>
															<p class="study_p1">
																<a href="/index.php/Home/Homepage/index/sid/91.html">御品韩汀</a> •
																<a href="/index.php/Home/Bbs/lists/cid/55.html">留学资讯</a> • </p>
															<p class="date_sp">214天前 </p>
														</dd>
													</dl>
												</li>
											</ul>
											<ul class="study_part_ul">
												<li>
													<a href="/index.php/Home/Bbs/lists/cid/150.html" class="study_style">校园招聘</a>
													<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/507.html">测试</a></h4>
													<dl class="study_dl">
														<dt><a href="/index.php/Home/Homepage/index/sid/143.html"><img src="Public/images/s_photo_1.jpg" alt="" height="50" class="star_user_photo"></a></dt>
														<dd>
															<p class="study_p1">
																<a href="/index.php/Home/Homepage/index/sid/143.html"></a> •
																<a href="/index.php/Home/Bbs/lists/cid/150.html">校园招聘</a> • </p>
															<p class="date_sp">217天前 </p>
														</dd>
													</dl>
												</li>
												<li>
													<a href="/index.php/Home/Bbs/lists/cid/8.html" class="study_style">语种学习</a>
													<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/505.html">445</a></h4>
													<dl class="study_dl">
														<dt><a href="/index.php/Home/Homepage/index/sid/143.html"><img src="Public/images/s_photo_1.jpg" alt="" height="50" class="star_user_photo"></a></dt>
														<dd>
															<p class="study_p1">
																<a href="/index.php/Home/Homepage/index/sid/143.html"></a> •
																<a href="/index.php/Home/Bbs/lists/cid/8.html">语种学习</a> • </p>
															<p class="date_sp">218天前 </p>
														</dd>
													</dl>
												</li>
												<li class="last">
													<a href="/index.php/Home/Bbs/lists/cid/8.html" class="study_style">语种学习</a>
													<h4 class="study_h4"><a href="/index.php/Home/Bbs/detail/aid/504.html">44744</a></h4>
													<dl class="study_dl">
														<dt><a href="/index.php/Home/Homepage/index/sid/143.html"><img src="Public/images/s_photo_1.jpg" alt="" height="50" class="star_user_photo"></a></dt>
														<dd>
															<p class="study_p1">
																<a href="/index.php/Home/Homepage/index/sid/143.html"></a> •
																<a href="/index.php/Home/Bbs/lists/cid/8.html">语种学习</a> • </p>
															<p class="date_sp">218天前 </p>
														</dd>
													</dl>
												</li>
											</ul>

											<div class="study_right">
												<a href="/index.php/Home/Bbs/lists/cid/9.html" class="study_style">美妆天地</a>
												<ul class="study_video_ul">
													<li class="last">
														<div class="study_video_img">
															<a href="/index.php/Home/Bbs/detail/aid/383.html"><img src="/Uploads/image/2017-05/20170524055853-94094.jpg" alt="Korean Makeup ｜Jessie L." width="170" height="100"><span class="video_tiem">06分36秒</span></a>
														</div>
														<p class="study_video_text">
															<a href="/index.php/Home/Bbs/detail/aid/383.html">Korean Makeup ｜Jessie L.</a>
														</p>
													</li>
													<li class="last">
														<div class="study_video_img">
															<a href="/index.php/Home/Bbs/detail/aid/379.html"><img src="/Uploads/image/2017-05/20170515055037-58590.jpg" alt="로드샵특집1, 학생 메이크업 " width="170" height="100"><span class="video_tiem">03分50秒</span></a>
														</div>
														<p class="study_video_text">
															<a href="/index.php/Home/Bbs/detail/aid/379.html">로드샵특집1, 학생 메이크업</a>
														</p>
													</li>
													<li class="last">
														<div class="study_video_img">
															<a href="/index.php/Home/Bbs/detail/aid/321.html"><img src="/Uploads/image/2017-05/20170504102733-27237.jpg" alt="超級無敵簡單男生日常妝完整步驟" width="170" height="100"><span class="video_tiem">04分58秒</span></a>
														</div>
														<p class="study_video_text">
															<a href="/index.php/Home/Bbs/detail/aid/321.html">超級無敵簡單男生日常妝完整步驟</a>
														</p>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="owl-controls clickable">
							<div class="owl-pagination">
								<div class="owl-page active"><span class=""></span></div>
								<div class="owl-page"><span class=""></span></div>
								<div class="owl-page"><span class=""></span></div>
							</div>
						</div>
					</div>
				</div>
				<div class="bt_btn_d">
					<a href="/index.php/Home/Bbs/index.html" class="btn_a_more btn_s2">查看更多<span class="sp_i_1"></span></a>
				</div>
			</div>
		</div>

		<div class="b_box">
			<!--ad-->
			<div class="ad_box2">
				<a href=""><img src="/Uploads/adv/2018-04/20180414123932-28064.jpg" alt="底部广告 说吧"></a>
			</div>
			<!--ad end-->
			<a href="/index.php/Home/Member/seller.html" class="footer_text">
				<h2 class="index_h2_title c_0">加入我们<span class="c_1">•</span>招募韩国商家、华人</h2>
				<div class="bg_ic_1">招募韩国商家、海外留学生、华人兼司机、导游</div>
				<div class="bt_btn_d"><span class="btn_a_more bs_bt_a">商家入驻</span></div>
			</a>
		</div>

		<!--footer-->
		<div class="footer community_footer_dl">
			<dl class="footer_dl">
				<dt>
		<div class="footer_ewm_box"><img src="Public/images/footer_ewm.png" alt=""></div>
			<span class="ft_ewm_name">御品韩汀</span>
		</dt>
				<dd>
					<p class="flink">
						<a href="/index.php/Home/Member/seller.html">商家入驻</a>|
						<a href="/index.php/Home/About/help.html">帮助中心</a>|
						<a href="/index.php/Home/About/index/key/jobs.html">人才招聘</a>|
						<a href="/index.php/Home/About/contact.html">联系我们</a>|
						<a href="/index.php/Home/About/sitemap.html">网站地图</a>|
						<a href="/index.php/Home/About/terms.html">使用条款</a>
					</p>
					<p>湘ICP备16017200号-2 | 地址：湖南省株洲市天元区丽景滨江二栋2502号 |网站负责人：夏先生 | 邮编：412000</p>

					<p>官方QQ：3119683838 | 微信公众号：御品韩汀 | 官网邮箱：3119683838@qq.com | 官方热线电话：0731-2286-7673</p>

					<p>Copyright © 2017 - 2018 yphting.com 版权所有</p>
				</dd>
			</dl>
		</div>
		<!--footer end-->

		<!--right nav-->
		<ul class="right_nav">
			<li>
				<a href="javascript:void(0);" class="rn_tel">客服电话</a>
				<div class="over_show kf_tel">0731-2286-7673</div>
			</li>
			<li>
				<a href="javascript:void(0);" class="rn_wx">官方微信</a>
				<div class="over_show"><img src="Public/images/r_ewm.jpg" alt="" class="gw_ewm"></div>
			</li>
			<li>
				<a href="tencent://Message/?Uin=3119683838&amp;websiteName=http://yphting.zglxkj.com=&amp;Menu=yes" class="rn_kf">在线客服</a>
			</li>
			<li>
				<a href="#" class="rn_top">Back top</a>
			</li>
		</ul>
		<!--right nav end-->

		<!--联系我们的浮层-->
		<div class="pop_contact">
			<a href="javascript:void(0);" class="close_pop_contact"></a>
			<div class="w1000">
				<div class="pcontact_left">
					<a href="/index.php/" class="logo">御品韩汀</a>
					<ul class="pcontact_ul">
						<li>
							<div class="wr_linka">
								<a href="http://yphting.zglxkj.com"></a>
							</div>公司官网：http://yphting.zglxkj.com</li>
						<li>
							<div class="wr_linka">
								<a href="http://weidian.com/?userid=765635894&amp;wfr=c"></a>
							</div>公司微店：http://weidian.com/?userid=765635894&amp;wfr=c</li>
					</ul>
					<ul class="pcontact_ul2">
						<li><span class="pcu pcu1"></span>联系方式：18773382506</li>
						<li><span class="pcu pcu2"></span>客服电话：0731-2286-7673</li>
						<li><span class="pcu pcu3"></span>住所：경기도 수원시 영통구 영통동 1021-4 청명타운텔 609호</li>
						<li class="last">
							<h3 class="contact_us_h3">CONTACT US</h3>联系我们</li>
					</ul>
				</div>
				<div class="pcontact_right">
					<h2 class="contact_us_title">和我们联系吧</h2>
					<form method="post" id="formtopcontact" action="/index.php/Home/About/contact.html" target="topost" onsubmit="return chktop()">
						<ul class="pcontact_ul3">
							<li><span class="pcspr pcspr1"></span><input id="name" name="name" class="pop_cus_input validate[required]" placeholder="姓名" type="text"></li>
							<li><span class="pcspr pcspr2"></span><input name="tel" id="tel" class="pop_cus_input validate[required,custom[phone]]" placeholder="电话" type="text"></li>
							<li><span class="pcspr pcspr3"></span><input name="email" id="email" class="pop_cus_input validate[required,custom[email]]" placeholder="邮箱" type="text"></li>
							<li><span class="pcspr pcspr4"></span><input name="content" id="content" class="pop_cus_input validate[required]" placeholder="具体需求" type="text"></li>
							<li class="sel_work">
								<div class="sel_work_box">
									<span class="input-group-addon">
							<span class="hz_icon_top">
								<input id="title1" name="title[]" value="我要兼职" class="chk_1" type="checkbox">
								<label for="title1"></label>
							</span>
									</span>
									<span class="sel_work_text">我要兼职</span>
								</div>
								<div class="sel_work_box">
									<span class="input-group-addon">
							<span class="hz_icon_top">
								<input id="title2" name="title[]" value="我要成为代理" class="chk_1" type="checkbox">
								<label for="title2"></label> 
							</span>
									</span>
									<span class="sel_work_text">我要成为代理</span>
								</div>
								<div class="sel_work_box">
									<span class="input-group-addon">
							<span class="hz_icon_top">
								<input id="title3" name="title[]" value="我要咨询整形" class="chk_1" type="checkbox">
								<label for="title3"></label> 
							</span>
									</span>
									<span class="sel_work_text">我要咨询整形</span>
								</div>
							</li>
							<input type="hidden" name="act" value="contact">
							<li>
								<a class="border_tj" href="javascript:void(0);" onclick="$('#formtopcontact').submit()" id="submit-btn">立即提交</a>
							</li>
						</ul>
						<input type="hidden" name="__hash__" value="dd364cd5cc7c0d91a0f4877b7d2acdca_88cf444067ad7ad0787870fc43c7f582"></form>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<!--联系我们的浮层 end-->

	</body>

</html>