<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="/Public/css/common.css" />
		<script type="text/javascript" src="/Public/js/jquery-1.8.3.min.js"></script>
	</head>

	<body>
		<!--header-->
		<div class="header" id="botop">
			<div class="h_top">
				<div class="b_box">
					<div class="top_nav">
						<a href="">首页</a><span class="ht_line"></span>
						<a href="">商家入驻</a><span class="ht_line"></span>
						<a href="">帮助中心</a><span class="ht_line"></span>
						<a href="">关于韩汀</a><span class="ht_line"></span>
						<a href="">联系我们</a>
					</div>
					<div class="top_right">
						<a href="">郑石平</a> <span class="ht_line"></span>
						<a href="">退出</a>
						<span class="ht_line"></span>
						<a href=""><img src="/Public/images/e_i.png" alt="" /></a>
					</div>
				</div>
			</div>
			<div class="b_box nav_header community_header">
				<a href="" class="logo logo_community">御品韩汀.社区</a>
				<h1 class="header_h1">预定服务</h1>
			</div>
		</div>
		<!--header end-->

		<a href="" class="zy_box">预定流程指引</a>

		<div class="bg_c3 pt1">
			<div class="b_box">
				<h3 class="yd_sev_h3 nopl">支付信息</h3>
				<div class="fa_zf_part">
					<div class="fa_zf_r">
						需要支付<span class="jy_num" th:text="${order.smallplan}"></span>
					</div>
					现金币余额<span class="jy_num now_num" th:text="${user.usermoney}"></span>
				</div>
				<div class="fa_xz">
					<div class="fa_zf_r">
						<a th:if="${user.usermoney>=order.smallplan}" th:href="@{/c/lhy/order/pay/ok(orderid=${order.orderid})}" class="btn_jy_a f22" id="payment_btn">支付金币</a>
						<a th:if="${user.usermoney<order.smallplan}" href="/zsp/c/getLogisticsById" class="btn_jy_a f22" id="payment_btn">充值</a>
					</div>
				</div>
			</div>
		</div>

		<!--footer-->
		<div class="footer community_footer_dl footerpos">
			<dl class="footer_dl">
				<dt>
				<div class="footer_ewm_box">
					<img src="/Public/images/footer_ewm.png" alt="" />
				</div>
				<span class="ft_ewm_name">御品韩汀</span>
			</dt>
				<dd>
					<p class="flink">
						<a href="">商家入驻</a>|
						<a href="">帮助中心</a>|
						<a href="">人才招聘</a>|
						<a href="">联系我们</a>|
						<a href="">网站地图</a>|
						<a href="">使用条款</a>
					</p>
					<p>湘ICP备16017200号-2 | 地址：湖南省株洲市天元区丽景滨江二栋2502号 |网站负责人：夏先生 | 邮编：412000
					</p>
					<p>官方QQ：3119683838 | 微信公众号：御品韩汀 | 官网邮箱：3119683838@qq.com | 官方热线电话：0731-2286-7673
					</p>
					<p>Copyright © 2017 - 2018 yphting.com 版权所有</p>
				</dd>
			</dl>
		</div>
		<!--footer end-->

		<!--right nav-->
		<ul class="right_nav">
			<li>
				<a href="" class="rn_tel">客服电话</a>
				<div class="over_show kf_tel">0731-2286-7673</div>
			</li>
			<li>
				<a href="" class="rn_wx">官方微信</a>
				<div class="over_show">
					<img src="/Public/images/r_ewm.jpg" alt="" class="gw_ewm" />
				</div>
			</li>
			<li>
				<a href="" class="rn_kf">在线客服</a>
			</li>
			<li>
				<a href="" class="rn_top">Back top</a>
			</li>
		</ul>
	</body>
<script type="text/javascript" src="/Public/js/sessionHeader.js"></script>
<script type="text/javascript" src="/Public/js/grzx-interlinkage.js"></script>
<script type="text/javascript" src="/Public/js/headLeftNav.js"></script>
<script type="text/javascript" src="/Public/js/grzx-href.js"></script>
</html>