<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="/Public/css/common.css" />
		<script type="text/javascript" src="/Public/js/jquery-1.8.3.min.js"></script>
		<style type="text/css">
			.yy_code .time1 {
				color: red;
				margin-right: 4px;
			}
			
			.yy_code .time2 {
				color: black;
				margin-right: 4px;
			}
			
			.page a.cur {
				background: #aacd06;
				color: #fff;
			}
		</style>
	</head>

	<body>
		<!--header-->
		<div class="header" id="botop">
			<div class="h_top">
				<div class="b_box">
					<div class="top_nav">
						<a href="">首页</a><span class="ht_line"></span>
						<a href="">商家入驻</a><span class="ht_line"></span>
						<a href="">帮助中心</a><span class="ht_line"></span>
						<a href="">关于韩汀</a><span class="ht_line"></span>
						<a href="">联系我们</a>
					</div>
					<div class="top_right">
						<a href="">郑石平</a> <span class="ht_line"></span>
						<a href="">退出</a> <span class="ht_line"></span>
						<a href=""><img src="/Public/images/e_i.png" alt="" /></a>
					</div>
				</div>
			</div>

			<div class="b_box nav_header community_header">
				<a class="logo my_logo" href="">御品韩汀</a>
				<ul class="member_nav_ul">
					<li id="li1">
						<a href="">商家中心</a><span class="my_nav_i"></span></li>
					<style type="text/css">
						.layui-layer-btn .layui-layer-btn0 {
							background: #4c1b98;
						}
						
						.layui-layer-btn .layui-layer-btn0:hover {
							background: #340d6f;
						}
					</style>
					<li class="cur" id="li2">
						<a href="">个人中心</a><span class="my_nav_i"></span></li>
					<li id="li3">
						<a href="">账户设置</a><span class="my_nav_i"></span></li>
					<li id="li4">
						<a href="">消息</a><span class="my_nav_i"></span></li>
				</ul>
			</div>
		</div>
		<!--header end-->

		<a href="" class="zy_box">预定流程指引</a>

		<div class="bg_c4 pt1">
			<div class="b_box">
				<!--member left-->
				<div class="member_left">
					<h1 class="member_left_title">个人中心</h1>
					<ul class="member_system_ul">
						<li class="cur">
							<a href=""><span class="msp2 pre_c1"></span>我预订的服务</a>
						</li>
						<li>
							<a href=""><span class="msp2 pre_c2"></span>我的下载</a>
						</li>
						<li>
							<a href=""><span class="msp2 community_sp csp7"></span>我的帖子</a>
						</li>
						<li>
							<a href=""><span class="msp2 pre_c3"></span>我的收藏</a>
						</li>
						<li>
							<a href=""><span class="msp2 pre_c4"></span>我的金币</a>
						</li>
						<li>
							<a href=""><span class="msp2 pre_c5"></span>我的积分</a>
						</li>
						<li>
							<a href=""><span class="msp2 pre_c6"></span>我的评价</a>
						</li>
						<li>
							<a href=""><span class="msp2 pre_c7"></span>我的退款</a>
						</li>
						<li>
							<a href=""><span class="msp2 pre_c8"></span>我的物流</a>
						</li>
						<li>
							<a target="_blank" href=""><span class="msp2 pre_c9"></span>帮助中心</a>
						</li>
					</ul>

				</div>
				<!--member left end-->
				<!--member right-->
				<div class="member_right site_msg_w">
					<div class="member_system_r_top">
						<div class="search_right_box">
							<div class="search_sec">
								<form method="get" action="/c/lhy/order/query/list">
									<input type="hidden" name="status" th:value="${param.status}">
									<input type="text" name="orderid" th:value="${param.orderid}" placeholder="输入下单服务标题或订单号进行搜索" class="s_sec_input" /><input type="submit" value="" class="s_sec_btn" />
								</form>
							</div>
						</div>
						我预订的服务
					</div>
					<ul class="pre_about_info yd_list_2">
						<li id="zt">
							<a th:href="@{/c/lhy/order/query/list}">所有预订</a>
						</li>
						<li id="zt1">
							<a th:href="@{/c/lhy/order/query/list(status=1)}">待付款<span class="pre_asp" th:text="${orderInfo.topay}">0</span></a>
						</li>
						<li id="zt3">
							<a th:href="@{/c/lhy/order/query/list(status=3)}">商家接单<span class="pre_asp" th:text="${orderInfo.receipt}">0</span></a>
						</li>
						<li id="zt4">
							<a th:href="@{/c/lhy/order/query/list(status=4)}">待确认<span class="pre_asp" th:text="${orderInfo.tbconfirmed}">0</span></a>
						</li>
						<li class="last" id="zt5">
							<a th:href="@{/c/lhy/order/query/list(status=5,commentstatus=1)}">待评价<span class="pre_asp" th:text="${orderInfo.tbevaluated}">0</span></a>
						</li>
					</ul>
					<!--booking_list-->
					<div th:each="temp:${pageInfo.list}" class="booking_list">
						<div class="book_top">
							<ul class="book_top_ul">
								<li>
									<div class="c_4">下单日期</div>
									<p th:text="${#dates.format(temp.ordertime,'yyyy-MM-dd')}"></p>
								</li>
								<li>
									<div class="c_4">总金币</div> <span th:text="${temp.smallplan}" class="num_1"></span>
								</li>
								<li>
									<div class="c_4">服务类别</div> <span th:text="${temp.service.serviceType.stname}"></span>
								</li>
								<li>
									<div class="c_4">商家</div>
									<p th:text="${temp.service.user.shopname}" class="shopname"></p>
								</li>
								<li>
									<div class="c_4" style="text-align: center;">商家状态</div> <span th:text="${temp.service.user.businessstate==1?'营业中':'未营业'}" style="text-align: center; margin-left: 42px; color: #959595;"></span>
								</li>
								<li class="last" style="width: 200px;">
									<div class="yy_code">
										<span class="c_4">预订编号</span><span th:text="${temp.orderid}"></span>
									</div>
									<p>
										<a th:if="${temp.orderstatus!=6&&temp.orderstatus!=7}" th:href="@{/c/lhy/order/query/detail(orderid=${temp.orderid})}">查看详细</a>
										<span th:if="${temp.orderstatus>1&&temp.orderstatus!=6}" class="ht_line2"></span>
										<a th:if="${temp.orderstatus>1&&temp.orderstatus!=6}" href="" rel="303">站内信商家</a>
									</p>
								</li>
							</ul>
						</div>
						<div class="book_bt">
							<ul class="book_bt_ul">
								<li class="cel_l1"><img width="135" height="90" th:src="${temp.service.servicecoverimg}" alt="" /></li>
								<li class="cel_l2">
									<div class="yd_xm_title">
										<a th:text="${temp.service.servicetitle}" href="" target="_blank"></a>
									</div>
									<p th:text="${temp.service.servicefutitle}"></p>
									<p>
										<span th:text="${temp.service.serviceprice}" class="num_1 num_1_s"></span>
									</p>
								</li>
								<li class="cel_l3">&nbsp;</li>
								<li class="cel_l4"><span th:if="${temp.orderstatus==1}">待付款</span>
									<span th:if="${temp.orderstatus==2}">待接单</span>
									<span th:if="${temp.orderstatus==3}">待服务</span>
									<span th:if="${temp.orderstatus==4}">待确认</span>
									<span th:if="${temp.orderstatus==5}">服务完成</span>
									<span th:if="${temp.orderstatus==6}">服务取消</span>
									<span th:if="${temp.orderstatus==7}">未接单</span>
									<span th:if="${temp.orderstatus==8}">已退款</span>
								</li>
								<li class="cel_l5">
									<a th:href="@{/c/lhy/order/pay(orderid=${temp.orderid})}" class="btna_s1" th:if="${temp.orderstatus==1}">支付金币</a>
									<br th:if="${temp.orderstatus==1}" />
									<a th:href="@{/c/lhy/order/ok(page=${param.page},orderid=${param.orderid},updateid=${temp.orderid})}" class="btna_s1" th:if="${temp.orderstatus==4}">确认完成</a>
									<br th:if="${temp.orderstatus==4}"/>
									<a th:href="${temp.documentpath}" download="" class="btna_s3 mt5" th:if="${temp.filesatus==2}">下载</a>
									<br th:if="${temp.filesatus==2}"/>
									<a th:href="@{/c/lhy/order/evaluate(orderid=${temp.orderid})}" class="btna_s3" th:if="${temp.commentstatus==1}">评价</a>
									<br th:if="${temp.commentstatus==1}"/>
									<span class="c_4" th:if="${temp.commentstatus==2}">已评价</span>
									<br th:if="${temp.commentstatus==2}"/>
									<span class="c_4" th:if="${temp.commentstatus==3}">双方已评</span>
									<br th:if="${temp.commentstatus==3}"/>
									<a th:href="@{/c/lhy/order/cancel(page=${param.page},orderid=${param.orderid},updateid=${temp.orderid})}" onclick="" th:if="${temp.orderstatus==1}">取消服务</a>
									<a th:href="@{/c/lhy/order/refund(orderid=${temp.orderid})}" th:if="${temp.orderstatus==5&&temp.refundstatus==0}">申请退款</a>
									<a class="btna_s2" th:href="@{/c/lhy/refund/detail(orderid=${temp.orderid})}" th:if="${temp.refundstatus>0}">查看退款详情</a>
								</li>
							</ul>
						</div>
						<div class="book_top" style="padding: 8px;">
							<ul class="book_top_ul">
								<li class="last" style="width: 350px;">
									<div class="yy_code">
										<span class="c_4"></span>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!--booking_list end-->
					<!--page-->
					<div class="page" th:if="${pageInfo.total>0}">
						<div class='nav'>
							<a class="page_next" th:if="${pageInfo.hasPreviousPage}" th:href="@{/c/lhy/order/query/list(status=${param.status},orderid=${param.orderid},page=${pageInfo.prePage})}">上一页</a>
							<a class="page_next nextdisabled" th:if="${!pageInfo.hasPreviousPage}" href="javascript:;">上一页</a>

							<a th:each="temp:${pageInfo.navigatepageNums}" th:class="${temp==pageInfo.pageNum?'cur':'num'}" th:text="${temp}" th:href="@{/c/lhy/order/query/list(status=${param.status},orderid=${param.orderid},page=${temp})}"></a>

							<a class="page_next" th:if="${pageInfo.hasNextPage}" th:href="@{/c/lhy/order/query/list(status=${param.status},orderid=${param.orderid},page=${pageInfo.nextPage})}">下一页</a>
							<a class="page_next nextdisabled" th:if="${!pageInfo.hasNextPage}" href="javascript:;">下一页</a>
						</div>
					</div>
					<!--page end-->
				</div>
				<!--member right end-->
				<div class="clear"></div>
			</div>
		</div>

		<!--站内信 弹框-->
		<div id="pop_bg"></div>
		<div class="site_email_pop">
			<a href="" class="close_pop_btn"></a>
			<h2 class="site_h2">
			与<span class="mlr10"></span>站内信
		</h2>
			<dl class="send_site_email">
				<dt>
				<img src="/Public/images/bbs_user_photo.png" alt=""
					class="user_photo_site" />
			</dt>
				<dd>
					<input type="hidden" id="smsuid" value="" />
					<textarea class="input_c in_site_text" id="smsmsg"></textarea>
					<div class="member_bt_btm2">
						<a href="" class="btna_acancel">取消</a>
						<a href="" onclick="sendsms()">发送</a>
					</div>
				</dd>
			</dl>
		</div>
		<!--站内信 弹框 end-->

		<!--footer-->
		<div class="footer community_footer_dl">
			<dl class="footer_dl">
				<dt>
				<div class="footer_ewm_box">
					<img src="/Public/images/footer_ewm.png" alt="" />
				</div>
				<span class="ft_ewm_name">御品韩汀</span>
			</dt>
				<dd>
					<p class="flink">
						<a href="">商家入驻</a>|
						<a href="">帮助中心</a>|
						<a href="">人才招聘</a>|
						<a href="">联系我们</a>|
						<a href="">网站地图</a>|
						<a href="">使用条款</a>
					</p>
					<p>湘ICP备16017200号-2 | 地址：湖南省株洲市天元区丽景滨江二栋2502号 |网站负责人：夏先生 | 邮编：412000
					</p>
					<p>官方QQ：3119683838 | 微信公众号：御品韩汀 | 官网邮箱：3119683838@qq.com | 官方热线电话：0731-2286-7673
					</p>
					<p>Copyright © 2017 - 2018 yphting.com 版权所有</p>
				</dd>
			</dl>
		</div>
		<!--footer end-->

		<!--right nav-->
		<ul class="right_nav">
			<li>
				<a href="" class="rn_tel">客服电话</a>
				<div class="over_show kf_tel">0731-2286-7673</div>
			</li>
			<li>
				<a href="" class="rn_wx">官方微信</a>
				<div class="over_show">
					<img src="/Public/images/r_ewm.jpg" alt="" class="gw_ewm" />
				</div>
			</li>
			<li>
				<a href="" class="rn_kf">在线客服</a>
			</li>
			<li>
				<a href="" class="rn_top">Back top</a>
			</li>
		</ul>

		<script type="text/javascript">
			$("#zt" + "[[${param.status}]]").addClass("cur");
		</script>
	</body>
<script type="text/javascript" src="/Public/js/sessionHeader.js"></script>
<script type="text/javascript" src="/Public/js/grzx-interlinkage.js"></script>
<script type="text/javascript" src="/Public/js/headLeftNav.js"></script>
<script type="text/javascript" src="/Public/js/grzx-href.js"></script>
</html>