<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/Public/css/common.css" />
<title>账户提现_韩汀社区</title>

<style>
.m_zl_r {
	overflow: visible;
}
</style>
<body>
	<!--header-->
	<div class="header" id="botop">
		<div class="h_top">
			<div class="b_box">
				<div class="top_nav">
					<a href="">首页</a><span class="ht_line"></span><a
						href="">商家入驻</a><span class="ht_line"></span><a href="">帮助中心</a><span
						class="ht_line"></span><a href="">关于韩汀</a><span class="ht_line"></span><a
						href="">联系我们</a>
				</div>

				<div class="top_right">
					<a href="">郑石平</a> <span class="ht_line"></span><a href="">退出</a> <span
						class="ht_line"></span><a href=""><img
						src="/Public/images/e_i.png" alt="" /></a>
					<!--
			<a href="javascript:void(0);" class="i_rover"></a>
			-->
				</div>
			</div>
		</div>

		<div class="b_box nav_header community_header">
			<a class="logo my_logo" href="">御品韩汀</a>
			<ul class="member_nav_ul">
				<li  id="li1"><a href="">商家中心</a><span
					class="my_nav_i"></span></li>
				<li class="cur" id="li2"><a href="">个人中心</a><span
					class="my_nav_i"></span></li>
				<li id="li3"><a href="">账户设置</a><span class="my_nav_i"></span></li>
				<li id="li4"><a href="">消息</a><span class="my_nav_i"></span></li>

			</ul>
		</div>
	</div>
	<!--header end-->

	<a href="" class="zy_box">预定流程指引</a>

	<div class="bg_c4 pt1">
		<div class="b_box">
			<!--member left-->
			<div class="member_left">
				<h1 class="member_left_title">个人中心</h1>
				<ul class="member_system_ul">
					<li><a href=""><span class="msp2 pre_c1"></span>我预订的服务</a></li>
					<li><a href=""><span class="msp2 pre_c2"></span>我的下载</a></li>
					<li><a href=""><span class="msp2 pre_c3"></span>我的收藏</a></li>
					<li class="cur"><a href=""><span class="msp2 pre_c4"></span>我的金币</a></li>
					<li><a href=""><span class="msp2 pre_c5"></span>我的积分</a></li>
					<li><a href=""><span class="msp2 pre_c6"></span>我的评价</a></li>
					<li><a href=""><span class="msp2 pre_c7"></span>我的退款</a></li>
					<li><a href=""><span class="msp2 pre_c8"></span>我的物流</a></li>
					<li><a target="_blank" href=""><span class="msp2 pre_c9"></span>帮助中心</a></li>
				</ul>
			</div>
			<!--member left end-->
			<!--member right-->
			<div class="member_right site_msg_w">
				<div class="member_system_r_top top_nor2 mt20">
					<a href="/zsp/c/goldnotesQueryAll" class="fr btna_s2 f14">返回我的金币<span
						class="sjt">>></span></a> 账户提现
				</div>
				<form id="formcfg" action="/zsp/c/addPutforWard" method="post">
					<ul class="member_zl_ul">
						<li><span class="m_zl_sp">金币余额 ：</span>
							<div class="m_zl_r">
								<span id="usermoney" class="tsfont c_8 f18 num_1">[[${USER.usermoney}]]</span>
							</div></li>
						<li><span class="m_zl_sp">银行名称：</span>
							<div class="m_zl_r">
								<select class="sel_f sel_f2" name="bankid">
									<option th:each="temp,iterState:${List}"
										th:value="${temp.bankid}">[[${temp.bankname}]]
									<option>
								</select>
							</div></li>
						<li><span class="m_zl_sp">开户行：</span>
							<div class="m_zl_r">
								<input type="text" placeholder="" name="openbankname"
									class="input_c w350 validate[required]" />
							</div></li>
						<li><span class="m_zl_sp">银行账户：</span>
							<div class="m_zl_r">
								<input type="text" placeholder="" name="bankaccount"
									class="input_c w350 validate[required,custom[integer]]" />
							</div></li>
						<li><span class="m_zl_sp">收款人：</span>
							<div class="m_zl_r">
								<input type="text" placeholder="" name="putname"
									class="input_c w350 validate[required]" />
							</div></li>
						<li><span class="m_zl_sp">提现金币：</span>
							<div class="m_zl_r">
								<input type="text" placeholder="请输入金币数量" name="money" id="num"
									class="input_c w300 validate[required,custom[integer],min[1],max[0]]" />金币
								<p class="c_4 f12 db_money">
									等于<span class="f14 c_7"><span class="tsfont c_8 mr10"
										id="rmb">0</span>元</span><br />韩汀金币和人民币兑换比例是1:1，即1个金币相当于人民币1元。
								</p>
							</div></li>
					</ul>
					<div class="rechang_top2">
						<input type="submit" id="submit" class="btn_jy_a h40" value="提交提现">
					</div>
				</form>
			</div>
			<!--member right end-->
			<div class="clear"></div>

		</div>
	</div>

	<!--footer-->
	<div class="footer community_footer_dl">
		<dl class="footer_dl">
			<dt>
				<div class="footer_ewm_box">
					<img src="/Public/images/footer_ewm.png" alt="" />
				</div>
				<span class="ft_ewm_name">御品韩汀</span>
			</dt>
			<dd>
				<p class="flink">
					<a href="">商家入驻</a>|<a href="">帮助中心</a>|<a href="">人才招聘</a>|<a
						href="">联系我们</a>|<a href="">网站地图</a>|<a href="">使用条款</a>
				</p>
				<p>湘ICP备16017200号-2 | 地址：湖南省株洲市天元区丽景滨江2栋2502号 |网站负责人：夏先生 |
					邮编：21917</p>
				<p>官方QQ：3119683838 | 微信公众号：御品韩汀 | 官网邮箱：3119683838@qq.com |
					联系电话：0731-2286-7673</p>
				<p>Copyright © 2016 - 2017 yphting.com 版权所有</p>
			</dd>
		</dl>
	</div>
	<!--footer end-->

	<!--right nav-->
	<ul class="right_nav">
		<li><a href="javascript:void(0);" class="rn_tel">客服电话</a>
			<div class="over_show kf_tel">0731-282802603</div></li>
		<li><a href="javascript:void(0);" class="rn_wx">官方微信</a>
			<div class="over_show">
				<img src="/Public/images/r_ewm.jpg" alt="" class="gw_ewm" />
			</div></li>
		<li><a href="" class="rn_kf">在线客服</a></li>
		<li><a href="#" class="rn_top">Back top</a></li>
	</ul>
	<!--right nav end-->

	<!--联系我们的浮层-->
	<div class="pop_contact">
		<a href="javascript:void(0);" class="close_pop_contact"></a>
		<div class="w1000">
			<div class="pcontact_left">
				<a href="/index.php?m=&" class="logo">御品韩汀</a>
				<ul class="pcontact_ul">
					<li><div class="wr_linka">
							<a href=""></a>
						</div>公司官网：http://www.yphting.com</li>
					<li><div class="wr_linka">
							<a href=""></a>
						</div>公司微店：http://weidian.com/?userid=765635894&wfr=c</li>
				</ul>
				<ul class="pcontact_ul2">
					<li><span class="pcu pcu1"></span>联系方式：0731-2286-7673</li>
					<li><span class="pcu pcu2"></span>客服电话：0731-282802603</li>
					<li><span class="pcu pcu3"></span>住所：경기도 수원시 영통구 영통동 1021-4
						청명타운텔 609호</li>
					<li class="last"><h3 class="contact_us_h3">CONTACT US</h3>联系我们</li>
				</ul>
			</div>
			<div class="pcontact_right">
				<h2 class="contact_us_title">和我们联系吧</h2>
				<form method="post" id="formtopcontact" action="" target="topost"
					onsubmit="return chktop()">
					<ul class="pcontact_ul3">
						<li><span class="pcspr pcspr1"></span><input id="name"
							name="name" class="pop_cus_input validate[required]"
							placeholder="姓名" type="text"></li>
						<li><span class="pcspr pcspr2"></span><input name="tel"
							id="tel" class="pop_cus_input validate[required,custom[phone]]"
							placeholder="电话" type="text"></li>
						<li><span class="pcspr pcspr3"></span><input name="email"
							id="email" class="pop_cus_input validate[required,custom[email]]"
							placeholder="邮箱" type="text"></li>
						<li><span class="pcspr pcspr4"></span><input name="content"
							id="content" class="pop_cus_input validate[required]"
							placeholder="具体需求" type="text"></li>
						<li class="sel_work">
							<div class="sel_work_box">
								<span class="input-group-addon"> <span
									class="hz_icon_top"> <input id="title1" name="title[]"
										value="我要兼职" class="chk_1" type="checkbox"> <label
										for="title1"></label>
								</span>
								</span> <span class="sel_work_text">我要兼职</span>
							</div>
							<div class="sel_work_box">
								<span class="input-group-addon"> <span
									class="hz_icon_top"> <input id="title2" name="title[]"
										value="我要成为代理" class="chk_1" type="checkbox"> <label
										for="title2"></label>
								</span>
								</span> <span class="sel_work_text">我要成为代理</span>
							</div>
							<div class="sel_work_box">
								<span class="input-group-addon"> <span
									class="hz_icon_top"> <input id="title3" name="title[]"
										value="我要咨询整形" class="chk_1" type="checkbox"> <label
										for="title3"></label>
								</span>
								</span> <span class="sel_work_text">我要咨询整形</span>
							</div>
						</li>
						<!-- 				<input type="hidden" name="act" value="contact" />
 -->
						<li><a class="border_tj" href="javascript:void(0);"
							onclick="$('#formtopcontact').submit()" id="submit-btn">立即提交</a></li>
					</ul>
				</form>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<!--联系我们的浮层 end-->
	<script type="text/javascript" src="/Public/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript">
		var submit = document.getElementById("submit");
		submit.onclick = function() {
			if (window.confirm("是否提交?")) {
				var money = $("[name='money']").val();
				var usermoney = $("#usermoney").html();
				var openbankname = $("[name='openbankname']").val();
				var bankaccount = $("[name='bankaccount']").val();
				var putname = $("[name='putname']").val();
				if (openbankname == "") {
					alert("开户行不能为空")
					return false;
				}
				if (bankaccount == "") {
					alert("银行账户不能为空")
					return false;
				}

				if (putname == "") {
					alert("收款款人不能为空")
					return false;
				}
				if (money == "") {
					alert("提现金额不能为空")
					return false;
				}
				if (money>usermoney) {
					alert("提现金额不能不能大于用户余额")
					return false;
				}
			}else{
				return false;
			}
		}
		$("[name='money']").on('input propertychange', function() {
			var money = $("[name='money']").val();
			if (isNaN(money)) {
				alert("请填写正确的数字");
			}
			$("#rmb").html(money);
		});
	</script>

<script type="text/javascript" src="/Public/js/sessionHeader.js"></script>
<script type="text/javascript" src="/Public/js/grzx-interlinkage.js"></script>
<script type="text/javascript" src="/Public/js/headLeftNav.js"></script>
<script type="text/javascript" src="/Public/js/grzx-href.js"></script>
</body>
</html>