<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>我收到的预定_韩汀社区</title>

<link href="/Public/css/common.css" rel="stylesheet" />
<script src="/Public/js/jquery-1.8.3.min.js"></script>


</head>
<body>

	<!--header-->
	<div class="header" id="botop">
		<div class="h_top">
			<div class="b_box">
				<div class="top_nav">
					<a href="#">首页</a><span class="ht_line"></span><a href="#">商家入驻</a><span
						class="ht_line"></span><a href="#">帮助中心</a><span class="ht_line"></span><a
						href="#">关于韩汀</a><span class="ht_line"></span><a href="#">联系我们</a>
				</div>

				<div class="top_right">
					<a href="#">.2304</a> <span class="ht_line"></span><a href="#">退出</a>
					<span class="ht_line"></span><a href="#"><img src="/Public/images/e_i.png" alt="" /></a>

				</div>
			</div>
		</div>

		<div class="b_box nav_header community_header">
			<a class="logo my_logo" href="#">御品韩汀</a>
			<ul class="member_nav_ul">
				<li class="cur" id="li1"><a href="#">商家中心</a><span
					class="my_nav_i"></span></li>
		
				<li id="li2"><a href="#">个人中心</a><span class="my_nav_i"></span></li>
				<li id="li3"><a href="#">账户设置</a><span class="my_nav_i"></span></li>
				<li id="li4"><a href="#">消息</a><span class="my_nav_i"></span></li>

			</ul>
		</div>
	</div>
	<!--header end-->


<a href="javascript:void(0)" class="zy_box">预定流程指引</a>

<div class="bg_c4 pt1">
	<div class="b_box">
    	<div class="sv_path border_c sv_nbor">
        	<div class="fr c_4"><a href="/index.php/Home/About/trading.html" class="btna_s2 f14">交易须知</a></div>
            <a href="/index.php/Home/Seller/index.html">商家中心</a><span class="s_sp_v">-</span><a href="/index.php/Home/Seller/order.html">我收到的预定</a>
        </div>
		<div class="business_order_nav">
			<ul class="business_order_nav_ul">
				<li ><a href="javascript:void(0);">用户提交预约</a></li>
				<li class="cur"><a href="javascript:void(0);">商家接单</a></li>				
				<li ><a href="javascript:void(0);">提供服务</a></li>	
				<li ><a href="javascript:void(0);">完成服务</a></li>
				<li ><a href="javascript:void(0);">评价</a></li>
			</ul>			
		</div>

        <div class="business_order_box">
			<p class="f14 mt10">
				<span class="c_4">预定服务状态</span>
				<span th:if="${order.orderstatus==1}"  class="big_font d_ff">待付款</span>
				<span th:if="${order.orderstatus==2}"  class="big_font d_ff">待接单</span>
				<span th:if="${order.orderstatus==3}"  class="big_font d_ff">待提供服务</span>
				<span th:if="${order.orderstatus==4}"  class="big_font d_ff">已提供服务</span>
				<span th:if="${order.orderstatus==5 and  order.commentstatus==1 and order.refundstatus==0}"  class="big_font d_ff">待评价</span>
				<span th:if="${order.orderstatus==5 and  order.commentstatus==2 and order.refundstatus==0}"  class="big_font d_ff">已评价</span>
				<span th:if="${order.orderstatus==5 and  order.commentstatus==3 and order.refundstatus==0}"  class="big_font d_ff">双方已评</span>
				<span th:if="${order.orderstatus==5 and  order.refundstatus==1}"  class="big_font d_ff">退款申请中</span>
				<span th:if="${order.orderstatus==5 and  order.refundstatus==2}"  class="big_font d_ff">不同意</span>
				<span th:if="${order.orderstatus==5 and  order.refundstatus==3}"  class="big_font d_ff">管理员介入</span>
				<span th:if="${order.orderstatus==5 and  order.refundstatus==4}"  class="big_font d_ff">管理员拒绝</span>
				<span th:if="${order.orderstatus==5 and  order.refundstatus==5}"  class="big_font d_ff">退款完成</span>
				<span th:if="${order.orderstatus==5 and  order.refundstatus==5}"  class="big_font d_ff">退款取消</span>
				<span th:if="${order.orderstatus==6}"  class="big_font d_ff">服务取消</span>
				<span th:if="${order.orderstatus==7}"  class="big_font d_ff">未接单</span>
				<span th:if="${order.orderstatus==8}"  class="big_font d_ff">已退款</span>

			</p>
			
																				
		</div>
        
        <div class="my_booking_cont">
        	<ul class="my_booking_cont_ul">
            	<li>
                    <p class="c_4 f12">订单编号</p>
                    <p class="mt5" th:text="${order.orderid}">15405168087435</p>
					<p class="c_4 f12">下单时间</p>
                    <p class="mt5" th:if="${order.ordertime}!=null">[[${#dates.format(order.ordertime,'yyyy-MM-dd hh:mm')}]]</p>
                    <p class="c_4 f12" th:if="${order.paymenttime}!=null">付款时间</p>
                    <p class="mt5" th:if="${order.paymenttime}!=null">[[${#dates.format(order.paymenttime,'yyyy-MM-dd hh:mm')}]]</p>
                    <p class="c_4 f12" th:if="${order.receipttime}!=null">接单时间</p>
                    <p class="mt5" th:if="${order.receipttime}!=null">[[${#dates.format(order.receipttime,'yyyy-MM-dd hh:mm')}]]</p>
                    <p class="c_4 f12" th:if="${order.provideservicestime}!=null">提供服务时间</p>
                    <p class="mt5" th:if="${order.provideservicestime}!=null">[[${#dates.format(order.provideservicestime,'yyyy-MM-dd hh:mm')}]]</p>
                    <p class="c_4 f12" th:if="${order.completetime}!=null">完成服务时间</p>
                    <p class="mt5" th:if="${order.completetime}!=null">[[${#dates.format(order.completetime,'yyyy-MM-dd hh:mm')}]]</p>
					<p class="c_4 f12">预定用户</p>
                    <p class="mt5"><a target="_blank" href="javascript:void(0)">[[${order.u.username}]]</a></p>
                    <p class="c_4 f12">总金币</p>
                    <div class="num_1 f16 mt5">[[${order.smallplan}]]</div>
					<p class="c_4 f12">实收到金币(扣除服务费10%）</p>
                    <div class="num_1 f16">[[${order.smallplan*0.9}]]</div>
                </li>
                <li>
                	<p class="c_4 f12">类别</p>
                    <p class="mt5" name="ser">[[${order.ser.stid}]]</p>
                    <p  th:if="${order.number>0}" class="c_4 f12">数量</p>
                  	<span th:if="${order.number>0}" class="mt5">[[${order.number}]]</span>
                  	 <p  th:if="${order.number}==null" class="c_4 f12">预定日期</p>
					<span th:if="${order.number}==null" class="mt5">[[${#dates.format(order.scheduledstarttime,'yyyy-MM-dd')}]]-
						[[${#dates.format(order.scheduledendtime,'yyyy-MM-dd')}]]
					</span>				                
                </li>
                <li>
                	<p class="c_4 f12">所预定服务</p>
                    <dl class="my_booking_img_text">
                    	<dt><img  th:src="${order.ser.servicecoverimg}"  width="135" /></dt>
                        <dd>
                        	<p><a href="javascript:void(0)" target="_blank">[[${order.ser.servicetitle}]]</a></p>
                            <p></p>
                            <div class="num_1 num_2_s f14">[[${order.ser.serviceprice}]]</div>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
        
	</div>
</div>

<!--footer-->
<div class="footer community_footer_dl">
	<dl class="footer_dl">
		<dt>
		<div class="footer_ewm_box"><img src="/Public/images/footer_ewm.png" alt="" /></div>
			<span class="ft_ewm_name">御品韩汀</span>
		</dt>
		<dd>
			<p class="flink"><a href="/index.php/Home/Member/seller.html">商家入驻</a>|<a href="/index.php/Home/About/help.html">帮助中心</a>|<a href="/index.php/Home/About/index/key/jobs.html">人才招聘</a>|<a href="/index.php/Home/About/contact.html">联系我们</a>|<a href="/index.php/Home/About/sitemap.html">网站地图</a>|<a href="/index.php/Home/About/terms.html">使用条款</a></p>
			<p>湘ICP备16017200号-2 | 地址：湖南省株洲市天元区丽景滨江二栋2502号 |网站负责人：夏先生 |   邮编：412000</p>

			<p>官方QQ：3119683838 | 微信公众号：御品韩汀 | 官网邮箱：3119683838@qq.com | 官方热线电话：0731-2286-7673</p>

			<p>Copyright © 2017 - 2018 yphting.com 版权所有</p>		</dd>
	</dl>
</div>
<!--footer end-->

<!--right nav-->
<ul class="right_nav">
	<li><a href="javascript:void(0);" class="rn_tel">客服电话</a><div class="over_show kf_tel">0731-2286-7673</div></li>
	<li><a href="javascript:void(0);" class="rn_wx">官方微信</a><div class="over_show"><img src="/Public/images/r_ewm.jpg" alt="" class="gw_ewm" /></div></li>
	<li><a href="tencent://Message/?Uin=3119683838&websiteName=http://yphting.zglxkj.com=&Menu=yes" class="rn_kf">在线客服</a></li>
	<li><a href="#" class="rn_top">Back top</a></li>
</ul>
<!--right nav end-->

<!--站内信 弹框-->
<div id="pop_bg"></div>
<div class="site_email_pop">
	<a href="javascript:void(0);" class="close_pop_btn"></a>
	<h2 class="site_h2">与<span class="mlr10">.... </span>站内信</h2>
    <dl class="send_site_email">
    	<dt><img src="http://thirdqq.qlogo.cn/qqapp/101390132/0375CD534481547A2459F085E2E4EAB3/100" alt=".... " class="user_photo_site" />
		</dt>
        <dd>
			<input type="hidden" id="smsuid" value="" />
			<input type="hidden" id="orderid" value="100607" />
        	<textarea class="input_c in_site_text" id="smsmsg"></textarea>
            <div class="member_bt_btm2"><a href="javascript:void(0);" class="btna_acancel">取消</a><a href="javascript:void(0);" onclick="sendsms()">发送</a></div>
        </dd>
    </dl>
</div>
<!--站内信 弹框 end-->


</body>
<script type="text/javascript" src="/Public/js/sessionHeader.js"></script>
<script type="text/javascript" src="/Public/js/headLeftNav.js"></script>
<script type="text/javascript" src="/Public/js/grzx-interlinkage.js"></script>
<script type="text/javascript" th:inline="javascript">
var stid=[[${order.ser.stid}]];
$.getJSON("/c/szy/order/querySerType",{"stid":stid},function(data){
	$("[name=ser]").html(data.stname);
})
</script>
</html>