<!DOCTYPE html PUBLIC '-//W3C//DTD HTML 4.01 Strict//EN' 'http://www.w3.org/TR/html4/strict.dtd'>
<html>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
<title>御品韩汀_商家提示</title>
		<link rel="stylesheet" href="Public/css/common.css" />
</head>
<body><iframe name="topost" id="topost" style="display:none;"></iframe>

<meta http-equiv="refresh" content="3;URL=grzx-index.html">
<script type="text/javascript">
   setTimeout("window.location.href ='grzx-index.html", 3*1000);
</script>
<style type="text/css">
body{
	margin:0 auto;
	text-align:center;
	font-size:14px;
}
.info{
	margin:100px auto;
	width:600px;
	background-color: #FFF;
	border: 1px solid #CCC;
	padding-top:20px;
    padding-bottom:20px;
}
</style>


<!--header-->
<div class="header" id="botop">
		<div class="h_top">
		<div class="b_box">
			<div class="top_nav"><a href="/index.php/">首页</a><span class="ht_line"></span><a href="/index.php/Home/Member/seller.html">商家入驻</a><span class="ht_line"></span><a href="/index.php/Home/About/help.html">帮助中心</a><span class="ht_line"></span><a href="/index.php/Home/About/index.html">关于韩汀</a><span class="ht_line"></span><a href="/index.php/Home/About/contact.html">联系我们</a></div>
			
			<div class="top_right login_right">
									<a href="/index.php/Home/Seller/index.html">透</a>			<span class="ht_line"></span><a href="/index.php/Home/Member/logout.html">退出</a>
            <span class="ht_line"></span><a href="/index.php/Home/Member/sms.html"><img src="/Public/images/e_i.png" alt=""></a>
			</div>
		</div>
	</div>
    <div class="b_box nav_header community_header">
		<a href="/index.php/" class="logo logo_community">御品韩汀.社区</a>
		<ul class="nav_ul">
			<li><a href="/c/lsm/serviceUrl?htmlUrl=fw-zjyTAB&stid=1"><span class="community_sp csp1"></span><br>自驾游</a></li>
			<li><a href="/c/lsm/serviceUrl?htmlUrl=fw-wzxTAB&stid=2"><span class="community_sp csp2"></span><br>微整形</a></li>
			<li><a href="/c/lsm/serviceUrl?htmlUrl=fw-lxzjTAB&stid=3"><span class="community_sp csp3"></span><br>留学中介</a></li>
			<li><a href="/c/lsm/serviceUrl?htmlUrl=fw-hyfyTAB&stid=4"><span class="community_sp csp4"></span><br>韩语翻译</a></li>
			<li><a href="/c/lsm/serviceUrl?htmlUrl=fw-xxzyTAB&stid=5"><span class="community_sp csp5"></span><br>学习资源</a></li>
			<li><a href="#"><span class="community_sp csp6"></span><br>韩汀物流</a></li>
			<li><a href="#"><span class="community_sp csp7"></span><br>韩汀·论坛 中文</a></li>
		</ul>
	</div>     
</div>
<!--header end-->

<div class="test_box">
<div class="waring_show">您已经开通商家了。 </div><div style="display:none;">等待 3 秒后跳转，你也可以单击 <a href="/index.php/Home/Member/index.html">进行跳转</a>.</div>
</div>

<!--footer-->
<div class="footer community_footer_dl footerpos">
	<dl class="footer_dl">
		<dt>
		<div class="footer_ewm_box"><img src="/Public/images/footer_ewm.png" alt=""></div>
			<span class="ft_ewm_name">御品韩汀</span>
		</dt>
		<dd>
			<p class="flink"><a href="/index.php/Home/Member/seller.html">商家入驻</a>|<a href="/index.php/Home/About/help.html">帮助中心</a>|<a href="/index.php/Home/About/index/key/jobs.html">人才招聘</a>|<a href="/index.php/Home/About/contact.html">联系我们</a>|<a href="/index.php/Home/About/sitemap.html">网站地图</a>|<a href="/index.php/Home/About/terms.html">使用条款</a></p>
			<p>湘ICP备16017200号-2 | 地址：湖南省株洲市天元区丽景滨江二栋2502号 |网站负责人：夏先生 |   邮编：412000</p>

			<p>官方QQ：3119683838 | 微信公众号：御品韩汀 | 官网邮箱：3119683838@qq.com | 官方热线电话：0731-2286-7673</p>

			<p>Copyright © 2017 - 2018 yphting.com 版权所有</p>		</dd>
	</dl>
</div>
<!--footer end-->

<!--right nav-->
<ul class="right_nav">
	<li><a href="javascript:void(0);" class="rn_tel">客服电话</a><div class="over_show kf_tel">0731-2286-7673</div></li>
	<li><a href="javascript:void(0);" class="rn_wx">官方微信</a><div class="over_show"><img src="/Public/images/r_ewm.jpg" alt="" class="gw_ewm"></div></li>
	<li><a href="tencent://Message/?Uin=3119683838&amp;websiteName=http://yphting.zglxkj.com=&amp;Menu=yes" class="rn_kf">在线客服</a></li>
	<li><a href="#" class="rn_top">Back top</a></li>
</ul>
<!--right nav end-->





</body>
<script type="text/javascript" src="/Public/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/Public/js/sessionHeader.js"></script>
<script type="text/javascript" src="/Public/js/headLeftNav.js"></script>
</html>