<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>商家入驻_韩汀社区</title>
		<link rel="stylesheet" href="Public/css/common.css" />
		<script type="text/javascript" src="Public/js/jquery-1.8.3.min.js"></script>
	</head>

	<body>
		<!--header-->
		<div class="header" id="botop">
			<div class="h_top">
				<div class="b_box">
					<div class="top_nav">
						<a href="">首页</a><span class="ht_line"></span>
						<a href="">商家入驻</a><span class="ht_line"></span>
						<a href="">帮助中心</a><span class="ht_line"></span>
						<a href="">关于韩汀</a><span class="ht_line"></span>
						<a href="">联系我们</a>
					</div>
					<div class="top_right login_right">
						<a href="">yuno</a> <span class="ht_line"></span>
						<a href="">退出</a>
						<span class="ht_line"></span>
						<a href=""><img src="Public/images/e_i.png" alt=""></a>
					</div>
				</div>
			</div>
			<div class="b_box nav_header community_header">
				<a href="" class="logo logo_community">御品韩汀.社区</a>
				<ul class="nav_ul">
					<li><a href="/c/lsm/serviceUrl?htmlUrl=fw-zjyTAB&stid=1"><span class="community_sp csp1"></span><br>自驾游</a></li>
					<li><a href="/c/lsm/serviceUrl?htmlUrl=fw-wzxTAB&stid=2"><span class="community_sp csp2"></span><br>微整形</a></li>
					<li><a href="/c/lsm/serviceUrl?htmlUrl=fw-lxzjTAB&stid=3"><span class="community_sp csp3"></span><br>留学中介</a></li>
					<li><a href="/c/lsm/serviceUrl?htmlUrl=fw-hyfyTAB&stid=4"><span class="community_sp csp4"></span><br>韩语翻译</a></li>
					<li><a href="/c/lsm/serviceUrl?htmlUrl=fw-xxzyTAB&stid=5"><span class="community_sp csp5"></span><br>学习资源</a></li>
					<li><a href="#"><span class="community_sp csp6"></span><br>韩汀物流</a></li>
					<li><a href="#"><span class="community_sp csp7"></span><br>韩汀·论坛 中文</a></li>
				</ul>
			</div>
		</div>
		<!--header end-->

		<div class="bg_c5 pt1">
			<div class="b_box">
				<!-- <div class="business_settled_title">
        	<h2 class="busi_set_h2">商家入驻</h2>
            <p class="busi_set_text">入驻韩汀社区，和我们一起成长</p>
        </div> -->
				<div class="business_settled_title2">
					<img src="/Public/images/sj_title_img.png" alt="">
				</div>

				<div class="business_settled_step">
					<div class="business_settled_spress"></div>
					<ul class="business_settled_press_ul">
						<li class="cur">
							<span class="mbsp_sp_bs"><span class="ps_mbsp1"></span></span>
							<p class="mbsp_text0">注册</p>
							<p class="mbsp_text2">注册韩汀个人用户账号</p>
						</li>
						<li>
							<span class="mbsp_sp_bs"><span class="ps_mbsp2"></span></span>
							<p class="mbsp_text0">提交相关申请资料</p>
							<p class="mbsp_text2">选择商家入驻<br>每个商家可以选择两项服务<br>缴纳店铺保证金币作为用户保障</p>
						</li>
						<li>
							<span class="mbsp_sp_bs"><span class="ps_mbsp3"></span></span>
							<p class="mbsp_text0">审核资料</p>
							<p class="mbsp_text2">我们会审核您的资料</p>
						</li>
						<li class="last">
							<span class="mbsp_sp_bs"><span class="ps_mbsp4"></span></span>
							<p class="mbsp_text0">开店成功</p>
							<p class="mbsp_text2">资料通过，保证金到位，<br>店铺即可开业</p>
						</li>
					</ul>
				</div>

				<div class="business_btn">
					<a href="/c/lsm/merchantEnterUrl" class="bus_btna">下一步<span class="bus_sp">&gt;</span></a>
				</div>
			</div>
		</div>

		<!--footer-->
		<div class="footer community_footer_dl">
			<dl class="footer_dl">
				<dt>
					<div class="footer_ewm_box">
						<img src="Public/images/footer_ewm.png" alt="">
					</div>
					<span class="ft_ewm_name">御品韩汀</span>
				</dt>
				<dd>
					<p class="flink">
						<a href="">商家入驻</a>|
						<a href="">帮助中心</a>|
						<a href="">人才招聘</a>|
						<a href="">联系我们</a>|
						<a href="">网站地图</a>|
						<a href="">使用条款</a>
					</p>
					<p>湘ICP备16017200号-2 | 地址：湖南省株洲市天元区丽景滨江二栋2502号 |网站负责人：夏先生 | 邮编：412000</p>
					<p>官方QQ：3119683838 | 微信公众号：御品韩汀 | 官网邮箱：3119683838@qq.com | 官方热线电话：0731-2286-7673</p>
					<p>Copyright © 2017 - 2018 yphting.com 版权所有</p>
				</dd>
			</dl>
		</div>
		<!--footer end-->

		<!--right nav-->
		<ul class="right_nav">
			<li>
				<a href="" class="rn_tel">客服电话</a>
				<div class="over_show kf_tel">0731-2286-7673</div>
			</li>
			<li>
				<a href="" class="rn_wx">官方微信</a>
				<div class="over_show"><img src="Public/images/r_ewm.jpg" alt="" class="gw_ewm"></div>
			</li>
			<li>
				<a href="" class="rn_kf">在线客服</a>
			</li>
			<li>
				<a href="" class="rn_top" style="display: none;">Back top</a>
			</li>
		</ul>
		<!--right nav end-->
	</body>
	<script type="text/javascript" src="/Public/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="/Public/js/sessionHeader.js"></script>
	<script type="text/javascript" src="/Public/js/headLeftNav.js"></script>
</html>