<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 1.命名空间 -->
<head>
<meta charset="utf-8">
  
<title>我发布的服务_韩汀社区</title>
<link rel="shortcut icon" href="/Public/images/favicon.ico" type="image/x-icon" />

<link href="/Public/css/owl.carousel.css" rel="stylesheet" />
<link href="/Public/css/common.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/Public/css/swiper-3.4.2.min.css">

<script type="text/javascript" src="/Public/js/jquery-1.8.3.min.js"></script>	

<meta property="wb:webmaster" content="1a0bb5a2cb580b9f" />
<meta name="__hash__" content="aecafd74baafde5cba034372c675d0de_99b2b45687447cdb2188e7372f3fbe73" /></head>
<iframe name="topost" id="topost" style="display:none;"></iframe>

<body>
<!--header-->
<div class="header" id="botop">
		<div class="h_top">
		<div class="b_box">
			<div class="top_nav"><a href="#">首页</a><span class="ht_line"></span><a href="#">商家入驻</a><span class="ht_line"></span><a href="#">帮助中心</a><span class="ht_line"></span><a href="#">关于韩汀</a><span class="ht_line"></span><a href="#">联系我们</a></div>
			
			<div class="top_right">
									<a href="#">.2304</a>			<span class="ht_line"></span><a href="#">退出</a>
            <span class="ht_line"></span><a href="#"><img src="/Public/images/e_i.png" alt="" /></a>
           
			</div>
		</div>
	</div>

    <div class="b_box nav_header community_header">
		<a class="logo my_logo" href="#">御品韩汀</a>
		<ul class="member_nav_ul">
        	<li class="cur" id="li1"><a href="#">商家中心</a><span class="my_nav_i"></span></li>
<style type="text/css">
.layui-layer-btn .layui-layer-btn0{ background:#4c1b98; }
.layui-layer-btn .layui-layer-btn0:hover{ background:#340d6f;}

</style>        	<li  id="li2"><a href="#">个人中心</a><span class="my_nav_i"></span></li>
            <li  id="li3"><a href="#">账户设置</a><span class="my_nav_i"></span></li>
            <li  id="li4"><a href="#">消息</a><span class="my_nav_i"></span></li>
            
        </ul>
	</div>
</div>

<a href="#" class="zy_box">预定流程指引</a>

<div class="bg_c4 pt1">
	<div class="b_box">
    	
		<!--member left-->
        <div class="member_left">
        	<h1 class="member_left_title seller_title">商家中心</h1>
            <ul class="member_system_ul sj_left_ul">
            	<li ><a href="#"><span class="msp2 pre_c1"></span>我收到的预定</a></li>
            	<li class="cur"><a href="#"><span class="msp2 pre_c2"></span>我发布的服务</a></li>
                <li ><a href="#"><span class="msp2 pre_c3"></span>我提交的鉴定</a></li>
                <li ><a href="#"><span class="msp2 pre_c4"></span>我收到的评价</a></li>
                <li ><a href="#"><span class="msp2 pre_c5"></span>我发出的物流</a></li>
                <li ><a href="#"><span class="msp2 pre_c6"></span>我收到的退款<span class="sp_acon_1"></span></a></li>
                <li ><a href="#"><span class="msp2 pre_c3"></span>我的服务类别</a></li>
                <li ><a href="#"><span class="msp2 pre_c3"></span>我提交的托管</a></li>
            </ul>
		</div>
		
        <!--member right-->
        <div class="member_right sj_right_box">
			<div class="member_system_r_top top_nor">
				<div class="search_right_box">
					<div class="search_sec"><form method="post" action="/zg/c/getServicesByTitle?pageNum=1&pageSize=2"><input type="text" name="serviceTitle" placeholder="输入服务名称" class="s_sec_input" /><input type="submit" value="" class="s_sec_btn" /><input type="hidden" name="__hash__" value="aecafd74baafde5cba034372c675d0de_99b2b45687447cdb2188e7372f3fbe73" /></form></div>
				</div>
				<span class="fl">我发布的服务&nbsp;&nbsp;<a href="/zg/c/queryUser" class="btn_jy_a btn_jy_a3" >发布新服务</a></span>
							</div>
			<table class="point_table business_table" cellpadding="0" cellspacing="0">
			<thead>
            	<tr>
                	<th width="320">服务名称</th>
                    <th width="120">可预定时间</th>
                    <th width="80">价格</th>
                    <th width="60">预定量</th>
                    <th width="70">
						<select class="sel_zt" name="zt" onchange="gotourl(this.value)">
							<option value="0">全部</option> 
							<option value="1" >待审核</option><option value="2" >审核成功</option><option value="3" >未通过</option>						</select>
					</th>
                    <th width="90">发布时间</th>
                    <th width="40">操作</th>
                </tr> 
            </thead>
            <tbody>
            <tr  th:each="temp,iterState:${PAGE_INFO.list}">
				<td>
					<input   type="hidden"  th:value="${temp.servicecoverimg}"   id="fmt">
					<img alt="" th:src="${temp.servicecoverimg}" style="width: 50px;height: 50px;">
					<span th:text="${temp.servicetitle}" id="servicetitle" ></span>
					<!-- <span th:text="${temp.servicefutitle}" id="servicefutile"></span> -->
				</td>
				
				<td >
						<span  th:text="${#dates.format(temp.servicestartdate,'yyyy-MM-dd')} "></span>至
						<span th:text="${#dates.format(temp.serviceenddate,'yyyy-MM-dd')}" ></span>
				</td>
				<td th:text="${temp.serviceprice}" id="serviceprice"></td>	
				<td  th:text="${temp.number}"></td>	
				<td>
		
					 <div th:switch="${temp.auditstatus}">
						<span th:case="1" >待审批</span>
						<span th:case="2" >审批通过</span>
						<span th:case="3" >未通过</span>
					</div>
				
				</td>
				<td  th:text="${#dates.format(temp.releasetime,'yyyy-MM-dd')}"></td>
				<!-- 动态url:th:href="@{/c/removeInfo(id=${temp.mid},name=admin)}"  -->
				<!-- 动态事件绑定 -->
				<td>
					<a  th:href="@{queryServices(serviceid=${temp.serviceid},stid=${temp.stid})}" >编辑</a>
					<a  href="javascript:void(0)">关闭</a>
					<a  th:href="@{removeServices(serviceID=${temp.serviceid})}">删除</a>
				
				</td>
			
				
			</tr>
            </tbody> 
				<tfoot>
				<tr>
						<td colspan="7" align="center">
							
								<a    th:href="@{getServices(pageNum=1,pageSize=${PAGE_INFO.pageSize})}" >首页</a>
								&nbsp;&nbsp;
								
								<span th:if="${PAGE_INFO.isHasPreviousPage()}" >
								<a   th:href="@{getServices(pageNum=${PAGE_INFO.prePage},pageSize=${PAGE_INFO.pageSize})}">上一页</a>
								</span>
									&nbsp;&nbsp;
								<span th:if="${PAGE_INFO.isHasNextPage()}" >
								
									<a th:href="@{getServices(pageNum=${PAGE_INFO.nextPage},pageSize=${PAGE_INFO.pageSize})}">下一页</a>
								</span>
								&nbsp;&nbsp; <a th:href="@{getServices(pageNum=${PAGE_INFO.lastPage},pageSize=${PAGE_INFO.pageSize})}">末页</a>							
								&nbsp;&nbsp; &nbsp;&nbsp;第[[${PAGE_INFO.pageNum}]]页/共[[${PAGE_INFO.lastPage}]]页&nbsp;&nbsp;共[[${PAGE_INFO.total}]]条记录
							
						</td>
					
					</tr>
				
				
				</tfoot>
			</table>
         
		</div>
		<!--member right end-->
        <div class="clear"></div>
        
	</div>
</div>

<!--footer-->
<div class="footer community_footer_dl">
	<dl class="footer_dl">
		<dt>
		<div class="footer_ewm_box"><img src="/Public/images/footer_ewm.png" alt="" /></div>
			<span class="ft_ewm_name">御品韩汀</span>
		</dt>
		<dd>
			<p class="flink"><a href="#">商家入驻</a>|<a href="#">帮助中心</a>|<a href="#">人才招聘</a>|<a href="#">联系我们</a>|<a href="#">网站地图</a>|<a href="#">使用条款</a></p>
			<p>湘ICP备16017200号-2 | 地址：湖南省株洲市天元区丽景滨江二栋2502号 |网站负责人：夏先生 |   邮编：412000</p>

			<p>官方QQ：3119683838 | 微信公众号：御品韩汀 | 官网邮箱：3119683838@qq.com | 官方热线电话：0731-2286-7673</p>

			<p>Copyright © 2017 - 2018 yphting.com 版权所有</p>		</dd>
	</dl>
</div>
<!--footer end-->

<!--right nav-->
<ul class="right_nav">
	<li><a href="javascript:void(0);" class="rn_tel">客服电话</a><div class="over_show kf_tel">0731-2286-7673</div></li>
	<li><a href="javascript:void(0);" class="rn_wx">官方微信</a><div class="over_show"><img src="/Public/images/r_ewm.jpg" alt="" class="gw_ewm" /></div></li>
	<li><a href="tencent://Message/?Uin=3119683838&websiteName=http://yphting.zglxkj.com=&Menu=yes" class="rn_kf">在线客服</a></li>
	<li><a href="#" class="rn_top">Back top</a></li>
</ul>
<!--right nav end-->


<div class="pop_contact">
	<a href="javascript:void(0);" class="close_pop_contact"></a>
	<div class="w1000">
		<div class="pcontact_left">
			<a href="/index.php/" class="logo">御品韩汀</a>
			<ul class="pcontact_ul">
				<li><div class="wr_linka"><a href="http://yphting.zglxkj.com"></a></div>公司官网：http://yphting.zglxkj.com</li>
				<li><div class="wr_linka"><a href="http://weidian.com/?userid=765635894&wfr=c"></a></div>公司微店：http://weidian.com/?userid=765635894&wfr=c</li>
			</ul>
			<ul class="pcontact_ul2">
				<li><span class="pcu pcu1"></span>联系方式：18773382506</li>
				<li><span class="pcu pcu2"></span>客服电话：0731-2286-7673</li>
				<li><span class="pcu pcu3"></span>住所：경기도 수원시 영통구 영통동 1021-4 청명타운텔 609호</li>
				<li class="last"><h3 class="contact_us_h3">CONTACT US</h3>联系我们</li>
			</ul>
		</div>
		<div class="pcontact_right">
			<h2 class="contact_us_title">和我们联系吧</h2>
			<form method="post" id="formtopcontact" action="/index.php/Home/About/contact.html" target="topost" onsubmit="return chktop()">
			<ul class="pcontact_ul3">
				<li><span class="pcspr pcspr1"></span><input id="name" name="name" class="pop_cus_input validate[required]" placeholder="姓名" type="text"></li>
				<li><span class="pcspr pcspr2"></span><input name="tel" id="tel" class="pop_cus_input validate[required,custom[phone]]" placeholder="电话" type="text"></li>
				<li><span class="pcspr pcspr3"></span><input name="email" id="email" class="pop_cus_input validate[required,custom[email]]" placeholder="邮箱" type="text"></li>
				<li><span class="pcspr pcspr4"></span><input name="content" id="content" class="pop_cus_input validate[required]" placeholder="具体需求" type="text"></li>
				<li class="sel_work">
					<div class="sel_work_box">
						<span class="input-group-addon">
							<span class="hz_icon_top">
								<input id="title1" name="title[]" value="我要兼职" class="chk_1" type="checkbox">
								<label for="title1"></label>
							</span>
						</span>
						<span class="sel_work_text">我要兼职</span>
					</div>
					<div class="sel_work_box">
						<span class="input-group-addon">
							<span class="hz_icon_top">
								<input id="title2" name="title[]" value="我要成为代理" class="chk_1" type="checkbox">
								<label for="title2"></label> 
							</span>
						</span>
						<span class="sel_work_text">我要成为代理</span>
					</div>
					<div class="sel_work_box">
						<span class="input-group-addon">
							<span class="hz_icon_top">
								<input id="title3" name="title[]" value="我要咨询整形" class="chk_1" type="checkbox">
								<label for="title3"></label> 
							</span>
						</span>
						<span class="sel_work_text">我要咨询整形</span>
					</div>
				</li>
	
				<li><a class="border_tj" href="javascript:void(0);" onclick="$('#formtopcontact').submit()" id="submit-btn">立即提交</a></li>
			</ul>
			<input type="hidden" name="__hash__" value="aecafd74baafde5cba034372c675d0de_99b2b45687447cdb2188e7372f3fbe73" /></form>
		</div>
		<div class="clear"></div>
	</div>
</div>
</body>
<script type="text/javascript" src="/Public/js/sessionHeader.js"></script>
<script type="text/javascript" src="/Public/js/headLeftNav.js"></script>
<script type="text/javascript" src="/Public/js/sjzx-href.js"></script>
<script type="text/javascript" src="/Public/js/grzx-interlinkage.js"></script>
</html>