<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>注册_韩汀社区</title>
		<link rel="stylesheet" href="/Public/css/common.css" />
		<script type="text/javascript" src="/Public/js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="/Public/js/code.js" ></script>
		<style>
			.yzmCode{
				background: #F7E7F3; text-align: center; line-height: 44px; color: #A0522D;
				font-weight:700;
				border-radius: 3px;
				height: 39px; width: 136px;
				display: inline-block;
				cursor: pointer;
				position: absolute;
				bottom: 0px;
				right: 0px;
      			user-select:none;
			}
			.yzSpan {
				display: inline-block;
				line-height: 20px;
				height: 20px;
				width: 100%;
				color: red;
				text-indent: 0.5em;
				margin-top: 5px;
				display: none;
			}
			.login_abtn{
				width: 100%;
			}
		</style>
	</head>

	<body>
		<!--header-->
		<div class="h_top">
			<div class="b_box">
				<div class="top_nav">
					<a href="">首页</a><span class="ht_line"></span>
					<a href="">商家入驻</a><span class="ht_line"></span>
					<a href="">帮助中心</a><span class="ht_line"></span>
					<a href="">关于韩汀</a><span class="ht_line"></span>
					<a href="">联系我们</a>
				</div>
				<div class="top_right login_right">
					<a href="szy-login.html">登陆</a> <span class="ht_line"></span>
					<a href="szy-zuce.html">注册</a>
				</div>
			</div>
		</div>
		<div class="b_box nav_header community_header">
			<a href="" class="logo logo_community"></a>
			<div class="logo_right_text">注册</div>
		</div>
		<!--header end-->
		<div class="bg_c4 pt1">
			<div class="b_box">
				<div class="other_mc">
					<h1 class="login_title reg_title_o">欢迎您注册韩汀社区</h1>
					<form  action="/c/szy/user/gotoLogin" method="post" id="formlogin" onsubmit="return yanz();">
						<ul class="login_ul">
								<li><input type="email" name="email" placeholder="邮箱(请输入邮箱号码)" class="input_c validate[required,custom[email]]">
								<span class="yzSpan" id="emailYz">*请输入正确邮箱</span>
							</li>
						
							<li><input type="text" name="username" placeholder="昵称(注册后无法修改)" class="input_c validate[required,minSize[1]]"></li>
							<li><input type="text" placeholder="验证码" name="code" class="input_c validate[required]">
								<span class="yzmCode" ></span>
							</li>
							<li><input type="checkbox" checked="checked" name="agree" value="1" placeholder="验证码" class="checkbox_input validate[required]">我已阅读并同意《
								<a href="" target="_blank" class="btna_s2">会员需知</a>》</li>
							<li class="send_li_a">
								<input type="submit" class="login_abtn" value="立即注册"  />
							</li>
							<li class="forget_reg pt1">
								<a href="szy-login.html" class="fr">您已经注册？点击这里»</a>
							</li>
						</ul>
						<input type="hidden" name="__hash__" value="0e916945271b2cddc768503fe647aff1_850e0758676d9190d1c73b4306b924ce">
					</form>
				</div>
			</div>
		</div>

		<!--footer-->
		<div class="footer community_footer_dl">
			<dl class="footer_dl">
				<dt>
					<div class="footer_ewm_box">
						<img src="Public/images/footer_ewm.png" alt="">
					</div>
					<span class="ft_ewm_name">御品韩汀</span>
				</dt>
				<dd>
					<p class="flink">
						<a href="">商家入驻</a>|
						<a href="">帮助中心</a>|
						<a href="">人才招聘</a>|
						<a href="">联系我们</a>|
						<a href="">网站地图</a>|
						<a href="">使用条款</a>
					</p>
					<p>湘ICP备16017200号-2 | 地址：湖南省株洲市天元区丽景滨江二栋2502号 |网站负责人：夏先生 | 邮编：412000</p>
					<p>官方QQ：3119683838 | 微信公众号：御品韩汀 | 官网邮箱：3119683838@qq.com | 官方热线电话：0731-2286-7673</p>
					<p>Copyright © 2017 - 2018 yphting.com 版权所有</p>
				</dd>
			</dl>
		</div>
		<!--footer end-->

		<!--right nav-->
		<ul class="right_nav">
			<li>
				<a href="" class="rn_tel">客服电话</a>
				<div class="over_show kf_tel">0731-2286-7673</div>
			</li>
			<li>
				<a href="" class="rn_wx">官方微信</a>
				<div class="over_show"><img src="Public/images/r_ewm.jpg" alt="" class="gw_ewm"></div>
			</li>
			<li>
				<a href="" class="rn_kf">在线客服</a>
			</li>
			<li>
				<a href="" class="rn_top">Back top</a>
			</li>
		</ul>
		<!--right nav end-->
	</body>
	
	<script type="text/javascript" src="/Public/js/headLeftNav.js"></script>
<script>
	create_code();
	var flag=false;
	$("[name=email]").blur(function() {
		var email = $(this).val();
		var reEmail = /^[A-Za-z\d]+([-_.][A-Za-z\d]+)*@([A-Za-z\d]+[-.])+[A-Za-z\d]{2,4}$/;
		if(reEmail.test(email)) {
			$("#emailYz").css("display", "none");
			$.getJSON("/c/szy/user/yzEmail",{"email":email},function(data){
				if(data.code!="200"){
					$("#emailYz").css("display", "block");
					$("#emailYz").html("*该邮箱已被注册");
					flag=false;
				}else{
					flag=true;
				}
			})
		} else {
			$("#emailYz").css("display", "block");
			$("#emailYz").html("*请输入正确邮箱");
			flag=false;
		}
	})
	function yanz(){
		if(flag){
			var codeText=$("[name=code]").val();
			var code=$(".yzmCode").html();
			if(codeText.toLowerCase()==code.toLowerCase()){
				return true;
			}else{
				$("[name=code]").val("");
				create_code();
				alert("验证码错误");
				return false;
			}
		}else{
			alert("请填写正确邮箱");
			return false;
		}
	}

</script>
</html>