<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="/Public/css/common.css" />
		<script type="text/javascript" src="/Public/js/jquery-1.8.3.min.js"></script>
	</head>

	<body>
		<link rel="stylesheet" href="/Public/js/valid/css/validationEngine.jquery.css" type="text/css">
		<style type="text/css">
			.edit_pohto dt img {
				width: 120px;
				height: 120px;
			}
			
			.information-def {
				color: #ddd;
			}
			
			.information-error {
				color: #f00;
			}
			
			.m_zl_r {
				overflow: visible;
			}
		</style>
		<link rel="stylesheet" href="/Public/js/croppic/croppic.css" type="text/css">

		<!--header-->
		<div class="header" id="botop">
			<div class="h_top">
				<div class="b_box">
					<div class="top_nav">
						<a href="">首页</a><span class="ht_line"></span>
						<a href="">商家入驻</a><span class="ht_line"></span>
						<a href="">帮助中心</a><span class="ht_line"></span>
						<a href="">关于韩汀</a><span class="ht_line"></span>
						<a href="">联系我们</a>
					</div>
					<div class="top_right login_right">
						<a href="">yuno</a> <span class="ht_line"></span>
						<a href="">退出</a>
						<span class="ht_line"></span>
						<a href=""><img src="Public/images/e_i.png" alt=""></a>
					</div>
				</div>
			</div>
			<div class="b_box nav_header community_header">
				<a class="logo my_logo" href="">御品韩汀</a>
				<ul class="member_nav_ul">
					<li id="li1">
						<a href="">商家中心</a><span class="my_nav_i"></span>
					</li>
					<style type="text/css">
						.layui-layer-btn .layui-layer-btn0 {
							background: #4c1b98;
						}
						
						.layui-layer-btn .layui-layer-btn0:hover {
							background: #340d6f;
						}
					</style>
					<li id="li2">
						<a href="">个人中心</a><span class="my_nav_i"></span>
					</li>
					<li class="cur" id="li3">
						<a href="">账户设置</a><span class="my_nav_i"></span>
					</li>
					<li id="li4">
						<a href="">消息</a><span class="my_nav_i"></span>
					</li>

				</ul>
			</div>
		</div>
		<!--header end-->

		<div class="bg_c4 pt1">
			<div class="b_box">
				<!--member left-->
				<div class="member_left">
					<h1 class="member_left_title">账户设置</h1>
					<ul class="member_system_ul account_ul_a">
						<li>
							<a href="/c/szy/user/queryGrzxInfo"><span class="msp2 pre_c1"></span>个人资料</a>
						</li>
						<li  class="cur">
							<a href="/zhsz-xgmm.html"><span class="msp2 pre_c2"></span>修改密码</a>
						</li>
						<li>
							<a href="javascript:void(0)"><span class="msp2 pre_c4"></span>帐号管理</a>
						</li>
						<li>
							<a href="/c/szy/user/getdpszInfo"><span class="msp2 pre_c2"></span>店铺信息</a>
						</li>
					</ul>
				</div>
				<!--member left end-->
				<!--member right-->
				<div class="member_right site_msg_w">
					<form action="/c/szy/user/updateEmailPwd" id="formpass" method="post" target="topost" onsubmit="return submit1();">
						<div class="member_system_r_top mt25">修改密码</div>
						<ul class="member_zl_ul change_ps">
							<li>
								<span class="m_zl_sp">新密码</span>
								<div class="m_zl_r"><input type="password" name="password" id="pass" placeholder="新密码" class="input_c w350 validate[required]"></div>
							</li>
							<li>
								<span class="m_zl_sp">重复新密码</span>
								<div class="m_zl_r">
									<input type="password" name="pass2" id="pass2" placeholder="重复新密码" class="input_c w350 validate[required,equals[pass]]">
								</div>
							</li>
						</ul>
						<div class="rechang_top2 rechang_top3 change_ps_top">
							<a href="javascript:void(0)" onclick="$('#formpass').submit()" class="btn_jy_a">更新密码</a>
						</div>
						<input type="hidden" name="__hash__" value="0daea049c12b92eda37da509b4ae760c_f6f1e40ece53b2ec4caf8420133bd470"></form>
				</div>
				<!--member right end-->
				<div class="clear"></div>
			</div>
		</div>

		<!--footer-->
		<div class="footer community_footer_dl">
			<dl class="footer_dl">
				<dt>
					<div class="footer_ewm_box">
						<img src="Public/images/footer_ewm.png" alt="">
					</div>
					<span class="ft_ewm_name">御品韩汀</span>
				</dt>
				<dd>
					<p class="flink">
						<a href="">商家入驻</a>|
						<a href="">帮助中心</a>|
						<a href="">人才招聘</a>|
						<a href="">联系我们</a>|
						<a href="">网站地图</a>|
						<a href="">使用条款</a>
					</p>
					<p>湘ICP备16017200号-2 | 地址：湖南省株洲市天元区丽景滨江二栋2502号 |网站负责人：夏先生 | 邮编：412000</p>
					<p>官方QQ：3119683838 | 微信公众号：御品韩汀 | 官网邮箱：3119683838@qq.com | 官方热线电话：0731-2286-7673</p>
					<p>Copyright © 2017 - 2018 yphting.com 版权所有</p>
				</dd>
			</dl>
		</div>
		<!--footer end-->

		<!--right nav-->
		<ul class="right_nav">
			<li>
				<a href="" class="rn_tel">客服电话</a>
				<div class="over_show kf_tel">0731-2286-7673</div>
			</li>
			<li>
				<a href="" class="rn_wx">官方微信</a>
				<div class="over_show"><img src="Public/images/r_ewm.jpg" alt="" class="gw_ewm"></div>
			</li>
			<li>
				<a href="" class="rn_kf">在线客服</a>
			</li>
			<li>
				<a href="" class="rn_top">Back top</a>
			</li>
		</ul>
		<!--right nav end-->

	</body>
	<script type="text/javascript" src="/Public/js/grzx-interlinkage.js"></script>
	<script type="text/javascript" src="/Public/js/zhsz-href.js"></script>
	<script type="text/javascript" src="/Public/js/sessionHeader.js"></script>
<script type="text/javascript" src="/Public/js/headLeftNav.js"></script>
<script type="text/javascript">
	function submit1(){
		var pwd=$("[name=password]").val();
		var pwd2=$("[name=pass2]").val();
		if(pwd==""||pwd2==""){
			alert("请填写完整密码信息！");
		}else if(pwd!=pwd2){
			alert("两次输入密码不一致");
			$("[name=pass2]").val("");
			return false;
		}else if(pwd.length<6){
			alert("长度不得少于6位！");
			$("[name=pass2]").val("");
			$("[name=password]").val("");
			return false;
		}else{
			return true;
		}
	}
</script>
</html>